# Base16 Rosé Pine - kermit color config
# Author: Emilia Dunfelt &lt;edun@dunfelt.se&gt;

# Foreground color
foreground         0xe0def4
foreground_bold    0xe0def4

# Cursor color
cursor             0xe0def4
cursor_foreground  0x191724

# Background color
background         0x191724

# Color palette (16)
## Black, Gray, Silver, White
color0  0x191724
color8  0x6e6a86
color7  0xe0def4
color15 0x524f67

## Red
color1  0xeb6f92
color9  0xeb6f92

## Green
color2  0x31748f
color10 0x31748f

## Yellow
color3  0xebbcba
color11 0xebbcba

## Blue
color4  0xc4a7e7
color12 0xc4a7e7

## Purple
color5  0xf6c177
color13 0xf6c177

## Teal
color6  0x9ccfd8
color14 0x9ccfd8

## Extra colors
color16 0xf6c177
color17 0x524f67
color18 0x1f1d2e
color19 0x26233a
color20 0x908caa
color21 0xe0def4
