# Base16 Material Lighter
# Author: Nate Peterson

# Foreground color
foreground         0x80CBC4
foreground_bold    0x80CBC4

# Cursor color
cursor             0x80CBC4
cursor_foreground  0xFAFAFA

# Background color
background         0xfafafa

# Color palette (16)
## Black, Gray, Silver, White
color0  0xFAFAFA
color8  0xCCD7DA
color7  0x80CBC4
color15 0xFFFFFF

## Red
color1  0xFF5370
color9  0xFF5370

## Green
color2  0x91B859
color10 0x91B859

## Yellow
color3  0xFFB62C
color11 0xFFB62C

## Blue
color4  0x6182B8
color12 0x6182B8

## Purple
color5  0x7C4DFF
color13 0x7C4DFF

## Teal
color6  0x39ADB5
color14 0x39ADB5

## Extra colors
color16 0xF76D47
color17 0xE53935
color18 0xE7EAEC
color19 0xCCEAE7
color20 0x8796B0
color21 0x80CBC4
