# Base16 Tokyodark Terminal - kermit color config
# Author: Tiagovla (https://github.com/tiagovla/)

# Foreground color
foreground         0xa0a8cd
foreground_bold    0xa0a8cd

# Cursor color
cursor             0xa0a8cd
cursor_foreground  0x11121d

# Background color
background         0x11121d

# Color palette (16)
## Black, Gray, Silver, White
color0  0x11121d
color8  0x282c34
color7  0xa0a8cd
color15 0xa0a8cd

## Red
color1  0xee6d85
color9  0xee6d85

## Green
color2  0x95c561
color10 0x95c561

## Yellow
color3  0xd7a65f
color11 0xd7a65f

## Blue
color4  0x7199ee
color12 0x7199ee

## Purple
color5  0xa485dd
color13 0xa485dd

## Teal
color6  0x38a89d
color14 0x38a89d

## Extra colors
color16 0xf6955b
color17 0x773440
color18 0x1a1b2a
color19 0x212234
color20 0x4a5057
color21 0xa0a8cd
