# Base16 Dracula - kermit color config
# Author: Mike Barkmin (http://github.com/mikebarkmin) based on Dracula Theme (http://github.com/dracula)

# Foreground color
foreground         0xe9e9f4
foreground_bold    0xf1f2f8

# Cursor color
cursor             0xf1f2f8
cursor_foreground  0x282936

# Background color
background         0x282936

# Color palette (16)
## Black, Gray, Silver, White
color0  0x282936
color8  0x4d4f68
color7  0xe9e9f4
color15 0xf7f7fb

## Red
color1  0xea51b2
color9  0xea51b2

## Green
color2  0x00f769
color10 0x00f769

## Yellow
color3  0xebff87
color11 0xebff87

## Blue
color4  0x62d6e8
color12 0x62d6e8

## Purple
color5  0xb45bcf
color13 0xb45bcf

## Teal
color6  0xa1efe4
color14 0xa1efe4

## Extra colors
color16 0xb45bcf
color17 0x00f769
color18 0x3a3c4e
color19 0x626483
color20 0x62d6e8
color21 0xf1f2f8
