# Base16 Windows 95 - kermit color config
# Author: Fergus Collins (https://github.com/C-Fergus)

# Foreground color
foreground         0xa8a8a8
foreground_bold    0xd2d2d2

# Cursor color
cursor             0xd2d2d2
cursor_foreground  0x000000

# Background color
background         0x000000

# Color palette (16)
## Black, Gray, Silver, White
color0  0x000000
color8  0x545454
color7  0xa8a8a8
color15 0xfcfcfc

## Red
color1  0xfc5454
color9  0xfc5454

## Green
color2  0x54fc54
color10 0x54fc54

## Yellow
color3  0xfcfc54
color11 0xfcfc54

## Blue
color4  0x5454fc
color12 0x5454fc

## Purple
color5  0xfc54fc
color13 0xfc54fc

## Teal
color6  0x54fcfc
color14 0x54fcfc

## Extra colors
color16 0xa85400
color17 0x00a800
color18 0x1c1c1c
color19 0x383838
color20 0x7e7e7e
color21 0xd2d2d2
