# Base16 pinky - kermit color config
# Author: Benjamin (https://github.com/b3nj5m1n)

# Foreground color
foreground         0xf5f5f5
foreground_bold    0xffffff

# Cursor color
cursor             0xffffff
cursor_foreground  0x171517

# Background color
background         0x171517

# Color palette (16)
## Black, Gray, Silver, White
color0  0x171517
color8  0x383338
color7  0xf5f5f5
color15 0xf7f3f7

## Red
color1  0xffa600
color9  0xffa600

## Green
color2  0xff0066
color10 0xff0066

## Yellow
color3  0x20df6c
color11 0x20df6c

## Blue
color4  0x00ffff
color12 0x00ffff

## Purple
color5  0x007fff
color13 0x007fff

## Teal
color6  0x6600ff
color14 0x6600ff

## Extra colors
color16 0x00ff66
color17 0xdf206c
color18 0x1b181b
color19 0x1d1b1d
color20 0xe7dbdb
color21 0xffffff
