# Base16 Mellow Purple - kermit color config
# Author: gidsi

# Foreground color
foreground         0xffeeff
foreground_bold    0xffeeff

# Cursor color
cursor             0xffeeff
cursor_foreground  0x1e0528

# Background color
background         0x1e0528

# Color palette (16)
## Black, Gray, Silver, White
color0  0x1e0528
color8  0x320f55
color7  0xffeeff
color15 0xf8c0ff

## Red
color1  0x00d9e9
color9  0x00d9e9

## Green
color2  0x05cb0d
color10 0x05cb0d

## Yellow
color3  0x955ae7
color11 0x955ae7

## Blue
color4  0x550068
color12 0x550068

## Purple
color5  0x8991bb
color13 0x8991bb

## Teal
color6  0xb900b1
color14 0xb900b1

## Extra colors
color16 0xaa00a3
color17 0x4d6fff
color18 0x1A092D
color19 0x331354
color20 0x873582
color21 0xffeeff
