# Base16 Blue Forest - kermit color config
# Author: alonsodomin (https://github.com/alonsodomin)

# Foreground color
foreground         0xffcc33
foreground_bold    0x91ccff

# Cursor color
cursor             0x91ccff
cursor_foreground  0x141f2e

# Background color
background         0x141f2e

# Color palette (16)
## Black, Gray, Silver, White
color0  0x141f2e
color8  0xa0ffa0
color7  0xffcc33
color15 0x375780

## Red
color1  0xfffab1
color9  0xfffab1

## Green
color2  0x80ff80
color10 0x80ff80

## Yellow
color3  0x91ccff
color11 0x91ccff

## Blue
color4  0xa2cff5
color12 0xa2cff5

## Purple
color5  0x0099ff
color13 0x0099ff

## Teal
color6  0x80ff80
color14 0x80ff80

## Extra colors
color16 0xff8080
color17 0xe7e7e7
color18 0x1e5c1e
color19 0x273e5c
color20 0x1e5c1e
color21 0x91ccff
