# Base16 selenized-light - kermit color config
# Author: Jan Warchol (https://github.com/jan-warchol/selenized) / adapted to base16 by ali

# Foreground color
foreground         0x53676d
foreground_bold    0x3a4d53

# Cursor color
cursor             0x3a4d53
cursor_foreground  0xfbf3db

# Background color
background         0xfbf3db

# Color palette (16)
## Black, Gray, Silver, White
color0  0xfbf3db
color8  0x909995
color7  0x53676d
color15 0x3a4d53

## Red
color1  0xcc1729
color9  0xcc1729

## Green
color2  0x428b00
color10 0x428b00

## Yellow
color3  0xa78300
color11 0xa78300

## Blue
color4  0x006dce
color12 0x006dce

## Purple
color5  0x825dc0
color13 0x825dc0

## Teal
color6  0x00978a
color14 0x00978a

## Extra colors
color16 0xbc5819
color17 0xc44392
color18 0xece3cc
color19 0xd5cdb6
color20 0x909995
color21 0x3a4d53
