# Base16 Measured Dark - kermit color config
# Author: Measured (https://measured.co)

# Foreground color
foreground         0xdcdcdc
foreground_bold    0xefefef

# Cursor color
cursor             0xefefef
cursor_foreground  0x00211f

# Background color
background         0x00211f

# Color palette (16)
## Black, Gray, Silver, White
color0  0x00211f
color8  0xababab
color7  0xdcdcdc
color15 0xf5f5f5

## Red
color1  0xce7e8e
color9  0xce7e8e

## Green
color2  0x56c16f
color10 0x56c16f

## Yellow
color3  0xbfac4e
color11 0xbfac4e

## Blue
color4  0x88b0da
color12 0x88b0da

## Purple
color5  0xb39be0
color13 0xb39be0

## Teal
color6  0x62c0be
color14 0x62c0be

## Extra colors
color16 0xdca37c
color17 0xd89aba
color18 0x003a38
color19 0x005453
color20 0xc3c3c3
color21 0xefefef
