# Base16 Eighties - kermit color config
# Author: Chris Kempson (http://chriskempson.com)

# Foreground color
foreground         0xd3d0c8
foreground_bold    0xe8e6df

# Cursor color
cursor             0xe8e6df
cursor_foreground  0x2d2d2d

# Background color
background         0x2d2d2d

# Color palette (16)
## Black, Gray, Silver, White
color0  0x2d2d2d
color8  0x747369
color7  0xd3d0c8
color15 0xf2f0ec

## Red
color1  0xf2777a
color9  0xf2777a

## Green
color2  0x99cc99
color10 0x99cc99

## Yellow
color3  0xffcc66
color11 0xffcc66

## Blue
color4  0x6699cc
color12 0x6699cc

## Purple
color5  0xcc99cc
color13 0xcc99cc

## Teal
color6  0x66cccc
color14 0x66cccc

## Extra colors
color16 0xf99157
color17 0xd27b53
color18 0x393939
color19 0x515151
color20 0xa09f93
color21 0xe8e6df
