# Base16 Google Dark - k3rmit color config
# Author: Seth Wright (http://sethawright.com)

# Foreground color
foreground         0xc5c8c6
foreground_bold    0xe0e0e0

# Cursor color
cursor             0xe0e0e0
cursor_foreground  0x1d1f21

# Background color
background         0x1d1f21

# Color palette (16)
## Black, Gray, Silver, White
color0  0x1d1f21
color8  0x969896
color7  0xc5c8c6
color15 0xffffff

## Red
color1  0xCC342B
color9  0xCC342B

## Green
color2  0x198844
color10 0x198844

## Yellow
color3  0xFBA922
color11 0xFBA922

## Blue
color4  0x3971ED
color12 0x3971ED

## Purple
color5  0xA36AC7
color13 0xA36AC7

## Teal
color6  0x3971ED
color14 0x3971ED

## Extra colors
color16 0xF96A38
color17 0x3971ED
color18 0x282a2e
color19 0x373b41
color20 0xb4b7b4
color21 0xe0e0e0
