# Base16 Material - k3rmit color config
# Author: Nate Peterson

# Foreground color
foreground         0xEEFFFF
foreground_bold    0xEEFFFF

# Cursor color
cursor             0xEEFFFF
cursor_foreground  0x263238

# Background color
background         0x263238

# Color palette (16)
## Black, Gray, Silver, White
color0  0x263238
color8  0x546E7A
color7  0xEEFFFF
color15 0xFFFFFF

## Red
color1  0xF07178
color9  0xF07178

## Green
color2  0xC3E88D
color10 0xC3E88D

## Yellow
color3  0xFFCB6B
color11 0xFFCB6B

## Blue
color4  0x82AAFF
color12 0x82AAFF

## Purple
color5  0xC792EA
color13 0xC792EA

## Teal
color6  0x89DDFF
color14 0x89DDFF

## Extra colors
color16 0xF78C6C
color17 0xFF5370
color18 0x2E3C43
color19 0x314549
color20 0xB2CCD6
color21 0xEEFFFF
