# Base16 Synth Midnight Terminal Dark - kermit color config
# Author: Michaël Ball (http://github.com/michael-ball/)

# Foreground color
foreground         0xc1c3c4
foreground_bold    0xcfd1d2

# Cursor color
cursor             0xcfd1d2
cursor_foreground  0x050608

# Background color
background         0x050608

# Color palette (16)
## Black, Gray, Silver, White
color0  0x050608
color8  0x474849
color7  0xc1c3c4
color15 0xdddfe0

## Red
color1  0xb53b50
color9  0xb53b50

## Green
color2  0x06ea61
color10 0x06ea61

## Yellow
color3  0xc9d364
color11 0xc9d364

## Blue
color4  0x03aeff
color12 0x03aeff

## Purple
color5  0xea5ce2
color13 0xea5ce2

## Teal
color6  0x42fff9
color14 0x42fff9

## Extra colors
color16 0xea770d
color17 0xcd6320
color18 0x1a1b1c
color19 0x28292a
color20 0xa3a5a6
color21 0xcfd1d2
