# Base16 Hardcore - kermit color config
# Author: Chris Caller

# Foreground color
foreground         0xcdcdcd
foreground_bold    0xe5e5e5

# Cursor color
cursor             0xe5e5e5
cursor_foreground  0x212121

# Background color
background         0x212121

# Color palette (16)
## Black, Gray, Silver, White
color0  0x212121
color8  0x4a4a4a
color7  0xcdcdcd
color15 0xffffff

## Red
color1  0xf92672
color9  0xf92672

## Green
color2  0xa6e22e
color10 0xa6e22e

## Yellow
color3  0xe6db74
color11 0xe6db74

## Blue
color4  0x66d9ef
color12 0x66d9ef

## Purple
color5  0x9e6ffe
color13 0x9e6ffe

## Teal
color6  0x708387
color14 0x708387

## Extra colors
color16 0xfd971f
color17 0xe8b882
color18 0x303030
color19 0x353535
color20 0x707070
color21 0xe5e5e5
