# Base16 standardized-light - kermit color config
# Author: ali (https://github.com/ali-githb/base16-standardized-scheme)

# Foreground color
foreground         0x444444
foreground_bold    0x333333

# Cursor color
cursor             0x333333
cursor_foreground  0xffffff

# Background color
background         0xffffff

# Color palette (16)
## Black, Gray, Silver, White
color0  0xffffff
color8  0x767676
color7  0x444444
color15 0x222222

## Red
color1  0xd03e3e
color9  0xd03e3e

## Green
color2  0x31861f
color10 0x31861f

## Yellow
color3  0xad8200
color11 0xad8200

## Blue
color4  0x3173c5
color12 0x3173c5

## Purple
color5  0x9e57c2
color13 0x9e57c2

## Teal
color6  0x00998f
color14 0x00998f

## Extra colors
color16 0xd7691d
color17 0x895025
color18 0xeeeeee
color19 0xcccccc
color20 0x767676
color21 0x333333
