# Base16 Spaceduck - kermit color config
# Author: Guillermo Rodriguez (https://github.com/pineapplegiant), packaged by Gabriel Fontes (https://github.com/Misterio77)

# Foreground color
foreground         0xecf0c1
foreground_bold    0xc1c3cc

# Cursor color
cursor             0xc1c3cc
cursor_foreground  0x16172d

# Background color
background         0x16172d

# Color palette (16)
## Black, Gray, Silver, White
color0  0x16172d
color8  0x686f9a
color7  0xecf0c1
color15 0xffffff

## Red
color1  0xe33400
color9  0xe33400

## Green
color2  0x5ccc96
color10 0x5ccc96

## Yellow
color3  0xf2ce00
color11 0xf2ce00

## Blue
color4  0x7a5ccc
color12 0x7a5ccc

## Purple
color5  0xb3a1e6
color13 0xb3a1e6

## Teal
color6  0x00a3cc
color14 0x00a3cc

## Extra colors
color16 0xe39400
color17 0xce6f8f
color18 0x1b1c36
color19 0x30365f
color20 0x818596
color21 0xc1c3cc
