# Base16 Isotope - k3rmit color config
# Author: Jan T. Sott

# Foreground color
foreground         0xd0d0d0
foreground_bold    0xe0e0e0

# Cursor color
cursor             0xe0e0e0
cursor_foreground  0x000000

# Background color
background         0x000000

# Color palette (16)
## Black, Gray, Silver, White
color0  0x000000
color8  0x808080
color7  0xd0d0d0
color15 0xffffff

## Red
color1  0xff0000
color9  0xff0000

## Green
color2  0x33ff00
color10 0x33ff00

## Yellow
color3  0xff0099
color11 0xff0099

## Blue
color4  0x0066ff
color12 0x0066ff

## Purple
color5  0xcc00ff
color13 0xcc00ff

## Teal
color6  0x00ffff
color14 0x00ffff

## Extra colors
color16 0xff9900
color17 0x3300ff
color18 0x404040
color19 0x606060
color20 0xc0c0c0
color21 0xe0e0e0
