# Base16 Humanoid dark - kermit color config
# Author: Thomas (tasmo) Friese

# Foreground color
foreground         0xf8f8f2
foreground_bold    0xfcfcf6

# Cursor color
cursor             0xfcfcf6
cursor_foreground  0x232629

# Background color
background         0x232629

# Color palette (16)
## Black, Gray, Silver, White
color0  0x232629
color8  0x60615d
color7  0xf8f8f2
color15 0xfcfcfc

## Red
color1  0xf11235
color9  0xf11235

## Green
color2  0x02d849
color10 0x02d849

## Yellow
color3  0xffb627
color11 0xffb627

## Blue
color4  0x00a6fb
color12 0x00a6fb

## Purple
color5  0xf15ee3
color13 0xf15ee3

## Teal
color6  0x0dd9d6
color14 0x0dd9d6

## Extra colors
color16 0xff9505
color17 0xb27701
color18 0x333b3d
color19 0x484e54
color20 0xc0c0bd
color21 0xfcfcf6
