# Base16 Codeschool - k3rmit color config
# Author: blockloop

# Foreground color
foreground         0x9ea7a6
foreground_bold    0xa7cfa3

# Cursor color
cursor             0xa7cfa3
cursor_foreground  0x232c31

# Background color
background         0x232c31

# Color palette (16)
## Black, Gray, Silver, White
color0  0x232c31
color8  0x3f4944
color7  0x9ea7a6
color15 0xb5d8f6

## Red
color1  0x2a5491
color9  0x2a5491

## Green
color2  0x237986
color10 0x237986

## Yellow
color3  0xa03b1e
color11 0xa03b1e

## Blue
color4  0x484d79
color12 0x484d79

## Purple
color5  0xc59820
color13 0xc59820

## Teal
color6  0xb02f30
color14 0xb02f30

## Extra colors
color16 0x43820d
color17 0xc98344
color18 0x1c3657
color19 0x2a343a
color20 0x84898c
color21 0xa7cfa3
