# Base16 Horizon Terminal Dark - kermit color config
# Author: Michaël Ball (http://github.com/michael-ball/)

# Foreground color
foreground         0xcbced0
foreground_bold    0xdcdfe4

# Cursor color
cursor             0xdcdfe4
cursor_foreground  0x1c1e26

# Background color
background         0x1c1e26

# Color palette (16)
## Black, Gray, Silver, White
color0  0x1c1e26
color8  0x6f6f70
color7  0xcbced0
color15 0xe3e6ee

## Red
color1  0xe95678
color9  0xe95678

## Green
color2  0x29d398
color10 0x29d398

## Yellow
color3  0xfac29a
color11 0xfac29a

## Blue
color4  0x26bbd9
color12 0x26bbd9

## Purple
color5  0xee64ac
color13 0xee64ac

## Teal
color6  0x59e1e3
color14 0x59e1e3

## Extra colors
color16 0xfab795
color17 0xf09383
color18 0x232530
color19 0x2e303e
color20 0x9da0a2
color21 0xdcdfe4
