# Base16 Nova - kermit color config
# Author: George Essig (https://github.com/gessig), Trevor D. Miller (https://trevordmiller.com)

# Foreground color
foreground         0xc5d4dd
foreground_bold    0x899ba6

# Cursor color
cursor             0x899ba6
cursor_foreground  0x3c4c55

# Background color
background         0x3c4c55

# Color palette (16)
## Black, Gray, Silver, White
color0  0x3c4c55
color8  0x899ba6
color7  0xc5d4dd
color15 0x556873

## Red
color1  0x83afe5
color9  0x83afe5

## Green
color2  0x7fc1ca
color10 0x7fc1ca

## Yellow
color3  0xa8ce93
color11 0xa8ce93

## Blue
color4  0x83afe5
color12 0x83afe5

## Purple
color5  0x9a93e1
color13 0x9a93e1

## Teal
color6  0xf2c38f
color14 0xf2c38f

## Extra colors
color16 0x7fc1ca
color17 0xf2c38f
color18 0x556873
color19 0x6a7d89
color20 0x899ba6
color21 0x899ba6
