# Scheme name: Ayu Light
# Scheme system: base16
# Scheme author: Khue Nguyen &lt;Z5483Y@gmail.com&gt;
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0x5c6773
foreground_bold    0x242936

# Cursor color
cursor             0x242936
cursor_foreground  0xfafafa

# Background color
background         0xfafafa

color0 0xfafafa # base00 - Black
color1 0xf07178 # base08 - Red
color2 0x86b300 # base0B - Green
color3 0xf2ae49 # base0A - Yellow
color4 0x36a3d9 # base0D - Blue
color5 0xa37acc # base0E - Magenta
color6 0x4cbf99 # base0C - Cyan
color7 0x5c6773 # base05 - White
color8 0xf8f9fa # base02 - Bright Black
color9 0xf07178 # base08 - Bright Red
color10 0x86b300 # base0B - Bright Green
color11 0xf2ae49 # base0A - Bright Yellow
color12 0x36a3d9 # base0D - Bright Blue
color13 0xa37acc # base0E - Bright Magenta
color14 0x4cbf99 # base0C - Bright Cyan
color15 0x1a1f29 # base07 - Bright White

## Extra colors
color16 0xfa8d3e # base09
color17 0xe6ba7e # base0F
color18 0xf3f4f5 # base01
color19 0xf8f9fa # base02
color20 0x828c99 # base04
color21 0x242936 # base06
