# Base16 Measured Light - kermit color config
# Author: Measured (https://measured.co)

# Foreground color
foreground         0x292929
foreground_bold    0x181818

# Cursor color
cursor             0x181818
cursor_foreground  0xfdf9f5

# Background color
background         0xfdf9f5

# Color palette (16)
## Black, Gray, Silver, White
color0  0xfdf9f5
color8  0x5a5a5a
color7  0x292929
color15 0x000000

## Red
color1  0xac1f35
color9  0xac1f35

## Green
color2  0x0c680c
color10 0x0c680c

## Yellow
color3  0x645a00
color11 0x645a00

## Blue
color4  0x0158ad
color12 0x0158ad

## Purple
color5  0x6645c2
color13 0x6645c2

## Teal
color6  0x01716f
color14 0x01716f

## Extra colors
color16 0xad5601
color17 0xa81a66
color18 0xf9f5f1
color19 0xffeada
color20 0x404040
color21 0x181818
