# Base16 Heetch Light - kermit color config
# Author: Geoffrey Teale (tealeg@gmail.com)

# Foreground color
foreground         0x5a496e
foreground_bold    0x470546

# Cursor color
cursor             0x470546
cursor_foreground  0xfeffff

# Background color
background         0xfeffff

# Color palette (16)
## Black, Gray, Silver, White
color0  0xfeffff
color8  0x9c92a8
color7  0x5a496e
color15 0x190134

## Red
color1  0x27d9d5
color9  0x27d9d5

## Green
color2  0xf80059
color10 0xf80059

## Yellow
color3  0x5ba2b6
color11 0x5ba2b6

## Blue
color4  0x47f9f5
color12 0x47f9f5

## Purple
color5  0xbd0152
color13 0xbd0152

## Teal
color6  0xc33678
color14 0xc33678

## Extra colors
color16 0xbdb6c5
color17 0xdedae2
color18 0x392551
color19 0x7b6d8b
color20 0xddd6e5
color21 0x470546
