# Base16 Equilibrium Gray Light - kermit color config
# Author: Carlo Abelli

# Foreground color
foreground         0x474747
foreground_bold    0x303030

# Cursor color
cursor             0x303030
cursor_foreground  0xf1f1f1

# Background color
background         0xf1f1f1

# Color palette (16)
## Black, Gray, Silver, White
color0  0xf1f1f1
color8  0x777777
color7  0x474747
color15 0x1b1b1b

## Red
color1  0xd02023
color9  0xd02023

## Green
color2  0x637200
color10 0x637200

## Yellow
color3  0x9d6f00
color11 0x9d6f00

## Blue
color4  0x0073b5
color12 0x0073b5

## Purple
color5  0x4e66b6
color13 0x4e66b6

## Teal
color6  0x007a72
color14 0x007a72

## Extra colors
color16 0xbf3e05
color17 0xc42775
color18 0xe2e2e2
color19 0xd4d4d4
color20 0x5e5e5e
color21 0x303030
