# Base16 OneDark Dark - kermit color config
# Author: olimorris (https://github.com/olimorris)

# Foreground color
foreground         0xabb2bf
foreground_bold    0xb6bdca

# Cursor color
cursor             0xb6bdca
cursor_foreground  0x000000

# Background color
background         0x000000

# Color palette (16)
## Black, Gray, Silver, White
color0  0x000000
color8  0x434852
color7  0xabb2bf
color15 0xc8ccd4

## Red
color1  0xef596f
color9  0xef596f

## Green
color2  0x89ca78
color10 0x89ca78

## Yellow
color3  0xe5c07b
color11 0xe5c07b

## Blue
color4  0x61afef
color12 0x61afef

## Purple
color5  0xd55fde
color13 0xd55fde

## Teal
color6  0x2bbac5
color14 0x2bbac5

## Extra colors
color16 0xd19a66
color17 0xbe5046
color18 0x1c1f24
color19 0x2c313a
color20 0x565c64
color21 0xb6bdca
