# Base16 standardized-dark - kermit color config
# Author: ali (https://github.com/ali-githb/base16-standardized-scheme)

# Foreground color
foreground         0xc0c0c0
foreground_bold    0xe0e0e0

# Cursor color
cursor             0xe0e0e0
cursor_foreground  0x222222

# Background color
background         0x222222

# Color palette (16)
## Black, Gray, Silver, White
color0  0x222222
color8  0x898989
color7  0xc0c0c0
color15 0xffffff

## Red
color1  0xe15d67
color9  0xe15d67

## Green
color2  0x5db129
color10 0x5db129

## Yellow
color3  0xe1b31a
color11 0xe1b31a

## Blue
color4  0x00a3f2
color12 0x00a3f2

## Purple
color5  0xb46ee0
color13 0xb46ee0

## Teal
color6  0x21c992
color14 0x21c992

## Extra colors
color16 0xfc804e
color17 0xb87d28
color18 0x303030
color19 0x555555
color20 0x898989
color21 0xe0e0e0
