# Base16 Harmonic16 Light - kermit color config
# Author: Jannik Siebert (https://github.com/janniks)

# Foreground color
foreground         0x405c79
foreground_bold    0x223b54

# Cursor color
cursor             0x223b54
cursor_foreground  0xf7f9fb

# Background color
background         0xf7f9fb

# Color palette (16)
## Black, Gray, Silver, White
color0  0xf7f9fb
color8  0xaabcce
color7  0x405c79
color15 0x0b1c2c

## Red
color1  0xbf8b56
color9  0xbf8b56

## Green
color2  0x56bf8b
color10 0x56bf8b

## Yellow
color3  0x8bbf56
color11 0x8bbf56

## Blue
color4  0x8b56bf
color12 0x8b56bf

## Purple
color5  0xbf568b
color13 0xbf568b

## Teal
color6  0x568bbf
color14 0x568bbf

## Extra colors
color16 0xbfbf56
color17 0xbf5656
color18 0xe5ebf1
color19 0xcbd6e2
color20 0x627e99
color21 0x223b54
