# Base16 Flat - kermit color config
# Author: Chris Kempson (http://chriskempson.com)

# Foreground color
foreground         0xe0e0e0
foreground_bold    0xf5f5f5

# Cursor color
cursor             0xf5f5f5
cursor_foreground  0x2c3e50

# Background color
background         0x2c3e50

# Color palette (16)
## Black, Gray, Silver, White
color0  0x2c3e50
color8  0x95a5a6
color7  0xe0e0e0
color15 0xecf0f1

## Red
color1  0xe74c3c
color9  0xe74c3c

## Green
color2  0x2ecc71
color10 0x2ecc71

## Yellow
color3  0xf1c40f
color11 0xf1c40f

## Blue
color4  0x3498db
color12 0x3498db

## Purple
color5  0x9b59b6
color13 0x9b59b6

## Teal
color6  0x1abc9c
color14 0x1abc9c

## Extra colors
color16 0xe67e22
color17 0xbe643c
color18 0x34495e
color19 0x7f8c8d
color20 0xbdc3c7
color21 0xf5f5f5
