# Base16 Rosé Pine Dawn - kermit color config
# Author: Emilia Dunfelt &lt;edun@dunfelt.se&gt;

# Foreground color
foreground         0x575279
foreground_bold    0x575279

# Cursor color
cursor             0x575279
cursor_foreground  0xfaf4ed

# Background color
background         0xfaf4ed

# Color palette (16)
## Black, Gray, Silver, White
color0  0xfaf4ed
color8  0x9893a5
color7  0x575279
color15 0xcecacd

## Red
color1  0xb4637a
color9  0xb4637a

## Green
color2  0x286983
color10 0x286983

## Yellow
color3  0xd7827e
color11 0xd7827e

## Blue
color4  0x907aa9
color12 0x907aa9

## Purple
color5  0xea9d34
color13 0xea9d34

## Teal
color6  0x56949f
color14 0x56949f

## Extra colors
color16 0xea9d34
color17 0xcecacd
color18 0xfffaf3
color19 0xf2e9de
color20 0x797593
color21 0x575279
