# Base16 Windows NT Light - kermit color config
# Author: Fergus Collins (https://github.com/C-Fergus)

# Foreground color
foreground         0x808080
foreground_bold    0x404040

# Cursor color
cursor             0x404040
cursor_foreground  0xffffff

# Background color
background         0xffffff

# Color palette (16)
## Black, Gray, Silver, White
color0  0xffffff
color8  0xc0c0c0
color7  0x808080
color15 0x000000

## Red
color1  0x800000
color9  0x800000

## Green
color2  0x008000
color10 0x008000

## Yellow
color3  0x808000
color11 0x808000

## Blue
color4  0x000080
color12 0x000080

## Purple
color5  0x800080
color13 0x800080

## Teal
color6  0x008080
color14 0x008080

## Extra colors
color16 0xffff00
color17 0x00ff00
color18 0xeaeaea
color19 0xd5d5d5
color20 0xa0a0a0
color21 0x404040
