# Base16 Gruvbox Material Light, Medium - kermit color config
# Author: Mayush Kumar (https://github.com/MayushKumar), sainnhe (https://github.com/sainnhe/gruvbox-material-vscode)

# Foreground color
foreground         0x654735
foreground_bold    0x3c3836

# Cursor color
cursor             0x3c3836
cursor_foreground  0xfbf1c7

# Background color
background         0xfbf1c7

# Color palette (16)
## Black, Gray, Silver, White
color0  0xfbf1c7
color8  0xbdae93
color7  0x654735
color15 0x282828

## Red
color1  0xc14a4a
color9  0xc14a4a

## Green
color2  0x6c782e
color10 0x6c782e

## Yellow
color3  0xb47109
color11 0xb47109

## Blue
color4  0x45707a
color12 0x45707a

## Purple
color5  0x945e80
color13 0x945e80

## Teal
color6  0x4c7a5d
color14 0x4c7a5d

## Extra colors
color16 0xc35e0a
color17 0xe78a4e
color18 0xf2e5bc
color19 0xd5c4a1
color20 0x665c54
color21 0x3c3836
