# Base16 Aztec - kermit color config
# Author: TheNeverMan (github.com/TheNeverMan)

# Foreground color
foreground         0xffda51
foreground_bold    0xffe178

# Cursor color
cursor             0xffe178
cursor_foreground  0x101600

# Background color
background         0x101600

# Color palette (16)
## Black, Gray, Silver, White
color0  0x101600
color8  0x2e2e05
color7  0xffda51
color15 0xffeba0

## Red
color1  0xee2e00
color9  0xee2e00

## Green
color2  0x63d932
color10 0x63d932

## Yellow
color3  0xeebb00
color11 0xeebb00

## Blue
color4  0x5b4a9f
color12 0x5b4a9f

## Purple
color5  0x883e9f
color13 0x883e9f

## Teal
color6  0x3d94a5
color14 0x3d94a5

## Extra colors
color16 0xee8800
color17 0xa928b9
color18 0x1a1e01
color19 0x242604
color20 0xffd129
color21 0xffe178
