# Base16 selenized-dark - kermit color config
# Author: Jan Warchol (https://github.com/jan-warchol/selenized) / adapted to base16 by ali

# Foreground color
foreground         0xadbcbc
foreground_bold    0xcad8d9

# Cursor color
cursor             0xcad8d9
cursor_foreground  0x103c48

# Background color
background         0x103c48

# Color palette (16)
## Black, Gray, Silver, White
color0  0x103c48
color8  0x72898f
color7  0xadbcbc
color15 0xcad8d9

## Red
color1  0xfa5750
color9  0xfa5750

## Green
color2  0x75b938
color10 0x75b938

## Yellow
color3  0xdbb32d
color11 0xdbb32d

## Blue
color4  0x4695f7
color12 0x4695f7

## Purple
color5  0xaf88eb
color13 0xaf88eb

## Teal
color6  0x41c7b9
color14 0x41c7b9

## Extra colors
color16 0xed8649
color17 0xf275be
color18 0x184956
color19 0x2d5b69
color20 0x72898f
color21 0xcad8d9
