# Base16 Horizon Dark - kermit color config
# Author: Michaël Ball (http://github.com/michael-ball/)

# Foreground color
foreground         0xcbced0
foreground_bold    0xdcdfe4

# Cursor color
cursor             0xdcdfe4
cursor_foreground  0x1c1e26

# Background color
background         0x1c1e26

# Color palette (16)
## Black, Gray, Silver, White
color0  0x1c1e26
color8  0x6f6f70
color7  0xcbced0
color15 0xe3e6ee

## Red
color1  0xe93c58
color9  0xe93c58

## Green
color2  0xefaf8e
color10 0xefaf8e

## Yellow
color3  0xefb993
color11 0xefb993

## Blue
color4  0xdf5273
color12 0xdf5273

## Purple
color5  0xb072d1
color13 0xb072d1

## Teal
color6  0x24a8b4
color14 0x24a8b4

## Extra colors
color16 0xe58d7d
color17 0xe4a382
color18 0x232530
color19 0x2e303e
color20 0x9da0a2
color21 0xdcdfe4
