# Base16 Sandcastle - kermit color config
# Author: George Essig (https://github.com/gessig)

# Foreground color
foreground         0xa89984
foreground_bold    0xd5c4a1

# Cursor color
cursor             0xd5c4a1
cursor_foreground  0x282c34

# Background color
background         0x282c34

# Color palette (16)
## Black, Gray, Silver, White
color0  0x282c34
color8  0x665c54
color7  0xa89984
color15 0xfdf4c1

## Red
color1  0x83a598
color9  0x83a598

## Green
color2  0x528b8b
color10 0x528b8b

## Yellow
color3  0xa07e3b
color11 0xa07e3b

## Blue
color4  0x83a598
color12 0x83a598

## Purple
color5  0xd75f5f
color13 0xd75f5f

## Teal
color6  0x83a598
color14 0x83a598

## Extra colors
color16 0xa07e3b
color17 0xa87322
color18 0x2c323b
color19 0x3e4451
color20 0x928374
color21 0xd5c4a1
