# Base16 Zenbones - kermit color config
# Author: mcchrish

# Foreground color
foreground         0xb279a7
foreground_bold    0x66a5ad

# Cursor color
cursor             0x66a5ad
cursor_foreground  0x191919

# Background color
background         0x191919

# Color palette (16)
## Black, Gray, Silver, White
color0  0x191919
color8  0xb77e64
color7  0xb279a7
color15 0xbbbbbb

## Red
color1  0x3d3839
color9  0x3d3839

## Green
color2  0xd68c67
color10 0xd68c67

## Yellow
color3  0x8bae68
color11 0x8bae68

## Blue
color4  0xcf86c1
color12 0xcf86c1

## Purple
color5  0x65b8c1
color13 0x65b8c1

## Teal
color6  0x61abda
color14 0x61abda

## Extra colors
color16 0xe8838f
color17 0x8e8e8e
color18 0xde6e7c
color19 0x819b69
color20 0x6099c0
color21 0x66a5ad
