# Base16 Mocha - kermit color config
# Author: Chris Kempson (http://chriskempson.com)

# Foreground color
foreground         0xd0c8c6
foreground_bold    0xe9e1dd

# Cursor color
cursor             0xe9e1dd
cursor_foreground  0x3B3228

# Background color
background         0x3b3228

# Color palette (16)
## Black, Gray, Silver, White
color0  0x3B3228
color8  0x7e705a
color7  0xd0c8c6
color15 0xf5eeeb

## Red
color1  0xcb6077
color9  0xcb6077

## Green
color2  0xbeb55b
color10 0xbeb55b

## Yellow
color3  0xf4bc87
color11 0xf4bc87

## Blue
color4  0x8ab3b5
color12 0x8ab3b5

## Purple
color5  0xa89bb9
color13 0xa89bb9

## Teal
color6  0x7bbda4
color14 0x7bbda4

## Extra colors
color16 0xd28b71
color17 0xbb9584
color18 0x534636
color19 0x645240
color20 0xb8afad
color21 0xe9e1dd
