# Base16 OceanicNext - k3rmit color config
# Author: https://github.com/voronianski/oceanic-next-color-scheme

# Foreground color
foreground         0xC0C5CE
foreground_bold    0xCDD3DE

# Cursor color
cursor             0xCDD3DE
cursor_foreground  0x1B2B34

# Background color
background         0x1b2b34

# Color palette (16)
## Black, Gray, Silver, White
color0  0x1B2B34
color8  0x65737E
color7  0xC0C5CE
color15 0xD8DEE9

## Red
color1  0xEC5f67
color9  0xEC5f67

## Green
color2  0x99C794
color10 0x99C794

## Yellow
color3  0xFAC863
color11 0xFAC863

## Blue
color4  0x6699CC
color12 0x6699CC

## Purple
color5  0xC594C5
color13 0xC594C5

## Teal
color6  0x5FB3B3
color14 0x5FB3B3

## Extra colors
color16 0xF99157
color17 0xAB7967
color18 0x343D46
color19 0x4F5B66
color20 0xA7ADBA
color21 0xCDD3DE
