# Base16 Mexico Light - kermit color config
# Author: Sheldon Johnson

# Foreground color
foreground         0x383838
foreground_bold    0x282828

# Cursor color
cursor             0x282828
cursor_foreground  0xf8f8f8

# Background color
background         0xf8f8f8

# Color palette (16)
## Black, Gray, Silver, White
color0  0xf8f8f8
color8  0xb8b8b8
color7  0x383838
color15 0x181818

## Red
color1  0xab4642
color9  0xab4642

## Green
color2  0x538947
color10 0x538947

## Yellow
color3  0xf79a0e
color11 0xf79a0e

## Blue
color4  0x7cafc2
color12 0x7cafc2

## Purple
color5  0x96609e
color13 0x96609e

## Teal
color6  0x4b8093
color14 0x4b8093

## Extra colors
color16 0xdc9656
color17 0xa16946
color18 0xe8e8e8
color19 0xd8d8d8
color20 0x585858
color21 0x282828
