# Base16 vice - kermit color config
# Author: Thomas Leon Highbaugh thighbaugh@zoho.com

# Foreground color
foreground         0x8b9cbe
foreground_bold    0xb2bfd9

# Cursor color
cursor             0xb2bfd9
cursor_foreground  0x17191e

# Background color
background         0x17191e

# Color palette (16)
## Black, Gray, Silver, White
color0  0x17191e
color8  0x383a47
color7  0x8b9cbe
color15 0xf4f4f7

## Red
color1  0xff29a8
color9  0xff29a8

## Green
color2  0x0badff
color10 0x0badff

## Yellow
color3  0xf0ffaa
color11 0xf0ffaa

## Blue
color4  0x00eaff
color12 0x00eaff

## Purple
color5  0x00f6d9
color13 0x00f6d9

## Teal
color6  0x8265ff
color14 0x8265ff

## Extra colors
color16 0x85ffe0
color17 0xff3d81
color18 0x22262d
color19 0x3c3f4c
color20 0x555e70
color21 0xb2bfd9
