# Base16 Purpledream - kermit color config
# Author: malet

# Foreground color
foreground         0xddd0dd
foreground_bold    0xeee0ee

# Cursor color
cursor             0xeee0ee
cursor_foreground  0x100510

# Background color
background         0x100510

# Color palette (16)
## Black, Gray, Silver, White
color0  0x100510
color8  0x605060
color7  0xddd0dd
color15 0xfff0ff

## Red
color1  0xff1d0d
color9  0xff1d0d

## Green
color2  0x14cc64
color10 0x14cc64

## Yellow
color3  0xf000a0
color11 0xf000a0

## Blue
color4  0x00a0f0
color12 0x00a0f0

## Purple
color5  0xb000d0
color13 0xb000d0

## Teal
color6  0x0075b0
color14 0x0075b0

## Extra colors
color16 0xccae14
color17 0x6a2a3c
color18 0x302030
color19 0x403040
color20 0xbbb0bb
color21 0xeee0ee
