# Base16 Framer - kermit color config
# Author: Framer (Maintained by Jesse Hoyos)

# Foreground color
foreground         0xd0d0d0
foreground_bold    0xe8e8e8

# Cursor color
cursor             0xe8e8e8
cursor_foreground  0x181818

# Background color
background         0x181818

# Color palette (16)
## Black, Gray, Silver, White
color0  0x181818
color8  0x747474
color7  0xd0d0d0
color15 0xeeeeee

## Red
color1  0xfd886b
color9  0xfd886b

## Green
color2  0x32ccdc
color10 0x32ccdc

## Yellow
color3  0xfecb6e
color11 0xfecb6e

## Blue
color4  0x20bcfc
color12 0x20bcfc

## Purple
color5  0xba8cfc
color13 0xba8cfc

## Teal
color6  0xacddfd
color14 0xacddfd

## Extra colors
color16 0xfc4769
color17 0xb15f4a
color18 0x151515
color19 0x464646
color20 0xb9b9b9
color21 0xe8e8e8
