# Base16 Primer Light - kermit color config
# Author: Jimmy Lin

# Foreground color
foreground         0x2f363d
foreground_bold    0x24292e

# Cursor color
cursor             0x24292e
cursor_foreground  0xfafbfc

# Background color
background         0xfafbfc

# Color palette (16)
## Black, Gray, Silver, White
color0  0xfafbfc
color8  0x959da5
color7  0x2f363d
color15 0x1b1f23

## Red
color1  0xd73a49
color9  0xd73a49

## Green
color2  0x28a745
color10 0x28a745

## Yellow
color3  0xffd33d
color11 0xffd33d

## Blue
color4  0x0366d6
color12 0x0366d6

## Purple
color5  0xea4aaa
color13 0xea4aaa

## Teal
color6  0x79b8ff
color14 0x79b8ff

## Extra colors
color16 0xf66a0a
color17 0xa04100
color18 0xe1e4e8
color19 0xd1d5da
color20 0x444d56
color21 0x24292e
