# Base16 PhD - k3rmit color config
# Author: Hennig Hasemann (http://leetless.de/vim.html)

# Foreground color
foreground         0xb8bbc2
foreground_bold    0xdbdde0

# Cursor color
cursor             0xdbdde0
cursor_foreground  0x061229

# Background color
background         0x061229

# Color palette (16)
## Black, Gray, Silver, White
color0  0x061229
color8  0x717885
color7  0xb8bbc2
color15 0xffffff

## Red
color1  0xd07346
color9  0xd07346

## Green
color2  0x99bf52
color10 0x99bf52

## Yellow
color3  0xfbd461
color11 0xfbd461

## Blue
color4  0x5299bf
color12 0x5299bf

## Purple
color5  0x9989cc
color13 0x9989cc

## Teal
color6  0x72b9bf
color14 0x72b9bf

## Extra colors
color16 0xf0a000
color17 0xb08060
color18 0x2a3448
color19 0x4d5666
color20 0x9a99a3
color21 0xdbdde0
