# Base16 Unikitty Reversible - kermit color config
# Author: Josh W Lewis (@joshwlewis)

# Foreground color
foreground         0xc3c2c4
foreground_bold    0xe1e0e1

# Cursor color
cursor             0xe1e0e1
cursor_foreground  0x2e2a31

# Background color
background         0x2e2a31

# Color palette (16)
## Black, Gray, Silver, White
color0  0x2e2a31
color8  0x878589
color7  0xc3c2c4
color15 0xffffff

## Red
color1  0xd8137f
color9  0xd8137f

## Green
color2  0x17ad98
color10 0x17ad98

## Yellow
color3  0xdc8a0e
color11 0xdc8a0e

## Blue
color4  0x7864fa
color12 0x7864fa

## Purple
color5  0xb33ce8
color13 0xb33ce8

## Teal
color6  0x149bda
color14 0x149bda

## Extra colors
color16 0xd65407
color17 0xd41acd
color18 0x4b484e
color19 0x69666b
color20 0xa5a3a6
color21 0xe1e0e1
