# Base16 Deep Oceanic Next - kermit color config
# Author: spearkkk (https://github.com/spearkkk/deep-oceanic-next)

# Foreground color
foreground         0xdce3e8
foreground_bold    0xe6ebf0

# Cursor color
cursor             0xe6ebf0
cursor_foreground  0x003b46

# Background color
background         0x003b46

# Color palette (16)
## Black, Gray, Silver, White
color0  0x003b46
color8  0x007a8a
color7  0xdce3e8
color15 0xf0f5f5

## Red
color1  0xe6454b
color9  0xe6454b

## Green
color2  0x85b57a
color10 0x85b57a

## Yellow
color3  0xffcc66
color11 0xffcc66

## Blue
color4  0x3a82e6
color12 0x3a82e6

## Purple
color5  0x8c4de6
color13 0x8c4de6

## Teal
color6  0x4da6a6
color14 0x4da6a6

## Extra colors
color16 0xff6a4b
color17 0xe673a3
color18 0x004f5e
color19 0x006374
color20 0x0093a3
color21 0xe6ebf0
