# Base16 Outrun Dark - kermit color config
# Author: Hugo Delahousse (http://github.com/hugodelahousse/)

# Foreground color
foreground         0xd0d0fa
foreground_bold    0xe0e0ff

# Cursor color
cursor             0xe0e0ff
cursor_foreground  0x00002a

# Background color
background         0x00002a

# Color palette (16)
## Black, Gray, Silver, White
color0  0x00002a
color8  0x50507a
color7  0xd0d0fa
color15 0xf5f5ff

## Red
color1  0xff4242
color9  0xff4242

## Green
color2  0x59f176
color10 0x59f176

## Yellow
color3  0xf3e877
color11 0xf3e877

## Blue
color4  0x66b0ff
color12 0x66b0ff

## Purple
color5  0xf10596
color13 0xf10596

## Teal
color6  0x0ef0f0
color14 0x0ef0f0

## Extra colors
color16 0xfc8d28
color17 0xf003ef
color18 0x20204a
color19 0x30305a
color20 0xb0b0da
color21 0xe0e0ff
