# Base16 Brush Trees - kermit color config
# Author: Abraham White &lt;abelincoln.white@gmail.com&gt;

# Foreground color
foreground         0x6d828e
foreground_bold    0x5a6d7a

# Cursor color
cursor             0x5a6d7a
cursor_foreground  0xe3efef

# Background color
background         0xe3efef

# Color palette (16)
## Black, Gray, Silver, White
color0  0xe3efef
color8  0x98afb5
color7  0x6d828e
color15 0x485867

## Red
color1  0xb38686
color9  0xb38686

## Green
color2  0x87b386
color10 0x87b386

## Yellow
color3  0xaab386
color11 0xaab386

## Blue
color4  0x868cb3
color12 0x868cb3

## Purple
color5  0xb386b2
color13 0xb386b2

## Teal
color6  0x86b3b3
color14 0x86b3b3

## Extra colors
color16 0xd8bba2
color17 0xb39f9f
color18 0xc9dbdc
color19 0xb0c5c8
color20 0x8299a1
color21 0x5a6d7a
