# Base16 Helios - kermit color config
# Author: Alex Meyer (https://github.com/reyemxela)

# Foreground color
foreground         0xd5d5d5
foreground_bold    0xdddddd

# Cursor color
cursor             0xdddddd
cursor_foreground  0x1d2021

# Background color
background         0x1d2021

# Color palette (16)
## Black, Gray, Silver, White
color0  0x1d2021
color8  0x6f7579
color7  0xd5d5d5
color15 0xe5e5e5

## Red
color1  0xd72638
color9  0xd72638

## Green
color2  0x88b92d
color10 0x88b92d

## Yellow
color3  0xf19d1a
color11 0xf19d1a

## Blue
color4  0x1e8bac
color12 0x1e8bac

## Purple
color5  0xbe4264
color13 0xbe4264

## Teal
color6  0x1ba595
color14 0x1ba595

## Extra colors
color16 0xeb8413
color17 0xc85e0d
color18 0x383c3e
color19 0x53585b
color20 0xcdcdcd
color21 0xdddddd
