# Base16 Gruvbox dark, soft
# Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)

# Foreground color
foreground         0xd5c4a1
foreground_bold    0xebdbb2

# Cursor color
cursor             0xebdbb2
cursor_foreground  0x32302f

# Background color
background         0x32302f

# Color palette (16)
## Black, Gray, Silver, White
color0  0x32302f
color8  0x665c54
color7  0xd5c4a1
color15 0xfbf1c7

## Red
color1  0xfb4934
color9  0xfb4934

## Green
color2  0xb8bb26
color10 0xb8bb26

## Yellow
color3  0xfabd2f
color11 0xfabd2f

## Blue
color4  0x83a598
color12 0x83a598

## Purple
color5  0xd3869b
color13 0xd3869b

## Teal
color6  0x8ec07c
color14 0x8ec07c

## Extra colors
color16 0xfe8019
color17 0xd65d0e
color18 0x3c3836
color19 0x504945
color20 0xbdae93
color21 0xebdbb2
