# Base16 Embers Light - kermit color config
# Author: Jannik Siebert (https://github.com/janniks)

# Foreground color
foreground         0x323b43
foreground_bold    0x20262c

# Cursor color
cursor             0x20262c
cursor_foreground  0xd1d6db

# Background color
background         0xd1d6db

# Color palette (16)
## Black, Gray, Silver, White
color0  0xd1d6db
color8  0x75808a
color7  0x323b43
color15 0x0f1316

## Red
color1  0x576d82
color9  0x576d82

## Green
color2  0x6d8257
color10 0x6d8257

## Yellow
color3  0x57826d
color11 0x57826d

## Blue
color4  0x82576d
color12 0x82576d

## Purple
color5  0x6d5782
color13 0x6d5782

## Teal
color6  0x826d57
color14 0x826d57

## Extra colors
color16 0x578282
color17 0x575782
color18 0xaeb6be
color19 0x909aa3
color20 0x47505a
color21 0x20262c
