# Base16 Tokyo Night Terminal Dark - kermit color config
# Author: Michaël Ball

# Foreground color
foreground         0x787c99
foreground_bold    0xcbccd1

# Cursor color
cursor             0xcbccd1
cursor_foreground  0x16161e

# Background color
background         0x16161e

# Color palette (16)
## Black, Gray, Silver, White
color0  0x16161e
color8  0x444b6a
color7  0x787c99
color15 0xd5d6db

## Red
color1  0xf7768e
color9  0xf7768e

## Green
color2  0x41a6b5
color10 0x41a6b5

## Yellow
color3  0xe0af68
color11 0xe0af68

## Blue
color4  0x7aa2f7
color12 0x7aa2f7

## Purple
color5  0xbb9af7
color13 0xbb9af7

## Teal
color6  0x7dcfff
color14 0x7dcfff

## Extra colors
color16 0xff9e64
color17 0xd18616
color18 0x1a1b26
color19 0x2f3549
color20 0x787c99
color21 0xcbccd1
