# Base16 DanQing - kermit color config
# Author: Wenhan Zhu (Cosmos) (zhuwenhan950913@gmail.com)

# Foreground color
foreground         0xe0f0ef
foreground_bold    0xecf6f2

# Cursor color
cursor             0xecf6f2
cursor_foreground  0x2d302f

# Background color
background         0x2d302f

# Color palette (16)
## Black, Gray, Silver, White
color0  0x2d302f
color8  0x9da8a3
color7  0xe0f0ef
color15 0xfcfefd

## Red
color1  0xf9906f
color9  0xf9906f

## Green
color2  0x8ab361
color10 0x8ab361

## Yellow
color3  0xf0c239
color11 0xf0c239

## Blue
color4  0xb0a4e3
color12 0xb0a4e3

## Purple
color5  0xcca4e3
color13 0xcca4e3

## Teal
color6  0x30dff3
color14 0x30dff3

## Extra colors
color16 0xb38a61
color17 0xca6924
color18 0x434846
color19 0x5a605d
color20 0xcad8d2
color21 0xecf6f2
