# Base16 Railscasts - kermit color config
# Author: Ryan Bates (http://railscasts.com)

# Foreground color
foreground         0xe6e1dc
foreground_bold    0xf4f1ed

# Cursor color
cursor             0xf4f1ed
cursor_foreground  0x2b2b2b

# Background color
background         0x2b2b2b

# Color palette (16)
## Black, Gray, Silver, White
color0  0x2b2b2b
color8  0x5a647e
color7  0xe6e1dc
color15 0xf9f7f3

## Red
color1  0xda4939
color9  0xda4939

## Green
color2  0xa5c261
color10 0xa5c261

## Yellow
color3  0xffc66d
color11 0xffc66d

## Blue
color4  0x6d9cbe
color12 0x6d9cbe

## Purple
color5  0xb6b3eb
color13 0xb6b3eb

## Teal
color6  0x519f50
color14 0x519f50

## Extra colors
color16 0xcc7833
color17 0xbc9458
color18 0x272935
color19 0x3a4055
color20 0xd4cfc9
color21 0xf4f1ed
