# Base16 Summerfruit Dark - kermit color config
# Author: Christopher Corley (http://christop.club/)

# Foreground color
foreground         0xd0d0d0
foreground_bold    0xe0e0e0

# Cursor color
cursor             0xe0e0e0
cursor_foreground  0x151515

# Background color
background         0x151515

# Color palette (16)
## Black, Gray, Silver, White
color0  0x151515
color8  0x505050
color7  0xd0d0d0
color15 0xffffff

## Red
color1  0xff0086
color9  0xff0086

## Green
color2  0x00c918
color10 0x00c918

## Yellow
color3  0xaba800
color11 0xaba800

## Blue
color4  0x3777e6
color12 0x3777e6

## Purple
color5  0xad00a1
color13 0xad00a1

## Teal
color6  0x1faaaa
color14 0x1faaaa

## Extra colors
color16 0xfd8900
color17 0xcc6633
color18 0x202020
color19 0x303030
color20 0xb0b0b0
color21 0xe0e0e0
