# Base16 Primer Dark Dimmed - kermit color config
# Author: Jimmy Lin

# Foreground color
foreground         0x909dab
foreground_bold    0xadbac7

# Cursor color
cursor             0xadbac7
cursor_foreground  0x1c2128

# Background color
background         0x1c2128

# Color palette (16)
## Black, Gray, Silver, White
color0  0x1c2128
color8  0x545d68
color7  0x909dab
color15 0xcdd9e5

## Red
color1  0xf47067
color9  0xf47067

## Green
color2  0x57ab5a
color10 0x57ab5a

## Yellow
color3  0xc69026
color11 0xc69026

## Blue
color4  0x539bf5
color12 0x539bf5

## Purple
color5  0xe275ad
color13 0xe275ad

## Teal
color6  0x96d0ff
color14 0x96d0ff

## Extra colors
color16 0xe0823d
color17 0xae5622
color18 0x373e47
color19 0x444c56
color20 0x768390
color21 0xadbac7
