# Base16 Unikitty Dark - kermit color config
# Author: Josh W Lewis (@joshwlewis)

# Foreground color
foreground         0xbcbabe
foreground_bold    0xd8d7da

# Cursor color
cursor             0xd8d7da
cursor_foreground  0x2e2a31

# Background color
background         0x2e2a31

# Color palette (16)
## Black, Gray, Silver, White
color0  0x2e2a31
color8  0x838085
color7  0xbcbabe
color15 0xf5f4f7

## Red
color1  0xd8137f
color9  0xd8137f

## Green
color2  0x17ad98
color10 0x17ad98

## Yellow
color3  0xdc8a0e
color11 0xdc8a0e

## Blue
color4  0x796af5
color12 0x796af5

## Purple
color5  0xbb60ea
color13 0xbb60ea

## Teal
color6  0x149bda
color14 0x149bda

## Extra colors
color16 0xd65407
color17 0xc720ca
color18 0x4a464d
color19 0x666369
color20 0x9f9da2
color21 0xd8d7da
