# Base16 Pico - kermit color config
# Author: PICO-8 (http://www.lexaloffle.com/pico-8.php)

# Foreground color
foreground         0x5f574f
foreground_bold    0xc2c3c7

# Cursor color
cursor             0xc2c3c7
cursor_foreground  0x000000

# Background color
background         0x000000

# Color palette (16)
## Black, Gray, Silver, White
color0  0x000000
color8  0x008751
color7  0x5f574f
color15 0xfff1e8

## Red
color1  0xff004d
color9  0xff004d

## Green
color2  0x00e756
color10 0x00e756

## Yellow
color3  0xfff024
color11 0xfff024

## Blue
color4  0x83769c
color12 0x83769c

## Purple
color5  0xff77a8
color13 0xff77a8

## Teal
color6  0x29adff
color14 0x29adff

## Extra colors
color16 0xffa300
color17 0xffccaa
color18 0x1d2b53
color19 0x7e2553
color20 0xab5236
color21 0xc2c3c7
