# Base16 Gigavolt - kermit color config
# Author: Aidan Swope (http://github.com/Whillikers)

# Foreground color
foreground         0xe9e7e1
foreground_bold    0xeff0f9

# Cursor color
cursor             0xeff0f9
cursor_foreground  0x202126

# Background color
background         0x202126

# Color palette (16)
## Black, Gray, Silver, White
color0  0x202126
color8  0xa1d2e6
color7  0xe9e7e1
color15 0xf2fbff

## Red
color1  0xff661a
color9  0xff661a

## Green
color2  0xf2e6a9
color10 0xf2e6a9

## Yellow
color3  0xffdc2d
color11 0xffdc2d

## Blue
color4  0x40bfff
color12 0x40bfff

## Purple
color5  0xae94f9
color13 0xae94f9

## Teal
color6  0xfb6acb
color14 0xfb6acb

## Extra colors
color16 0x19f988
color17 0x6187ff
color18 0x2d303d
color19 0x5a576e
color20 0xcad3ff
color21 0xeff0f9
