# Base16 Windows 95 Light - kermit color config
# Author: Fergus Collins (https://github.com/C-Fergus)

# Foreground color
foreground         0x545454
foreground_bold    0x2a2a2a

# Cursor color
cursor             0x2a2a2a
cursor_foreground  0xfcfcfc

# Background color
background         0xfcfcfc

# Color palette (16)
## Black, Gray, Silver, White
color0  0xfcfcfc
color8  0xa8a8a8
color7  0x545454
color15 0x000000

## Red
color1  0xa80000
color9  0xa80000

## Green
color2  0x00a800
color10 0x00a800

## Yellow
color3  0xa85400
color11 0xa85400

## Blue
color4  0x0000a8
color12 0x0000a8

## Purple
color5  0xa800a8
color13 0xa800a8

## Teal
color6  0x00a8a8
color14 0x00a8a8

## Extra colors
color16 0xfcfc54
color17 0x54fc54
color18 0xe0e0e0
color19 0xc4c4c4
color20 0x7e7e7e
color21 0x2a2a2a
