# Base16 Pop - k3rmit color config
# Author: Chris Kempson (http://chriskempson.com)

# Foreground color
foreground         0xd0d0d0
foreground_bold    0xe0e0e0

# Cursor color
cursor             0xe0e0e0
cursor_foreground  0x000000

# Background color
background         0x000000

# Color palette (16)
## Black, Gray, Silver, White
color0  0x000000
color8  0x505050
color7  0xd0d0d0
color15 0xffffff

## Red
color1  0xeb008a
color9  0xeb008a

## Green
color2  0x37b349
color10 0x37b349

## Yellow
color3  0xf8ca12
color11 0xf8ca12

## Blue
color4  0x0e5a94
color12 0x0e5a94

## Purple
color5  0xb31e8d
color13 0xb31e8d

## Teal
color6  0x00aabb
color14 0x00aabb

## Extra colors
color16 0xf29333
color17 0x7a2d00
color18 0x202020
color19 0x303030
color20 0xb0b0b0
color21 0xe0e0e0
