# Base16 Humanoid light - kermit color config
# Author: Thomas (tasmo) Friese

# Foreground color
foreground         0x232629
foreground_bold    0x2f3337

# Cursor color
cursor             0x2f3337
cursor_foreground  0xf8f8f2

# Background color
background         0xf8f8f2

# Color palette (16)
## Black, Gray, Silver, White
color0  0xf8f8f2
color8  0xc0c0bd
color7  0x232629
color15 0x070708

## Red
color1  0xb0151a
color9  0xb0151a

## Green
color2  0x388e3c
color10 0x388e3c

## Yellow
color3  0xffb627
color11 0xffb627

## Blue
color4  0x0082c9
color12 0x0082c9

## Purple
color5  0x700f98
color13 0x700f98

## Teal
color6  0x008e8e
color14 0x008e8e

## Extra colors
color16 0xff3d00
color17 0xb27701
color18 0xefefe9
color19 0xdeded8
color20 0x60615d
color21 0x2f3337
