# Base16 Marrakesh
# Author: Alexandre Gavioli (http://github.com/Alexx2/)

# Foreground color
foreground         0x948e48
foreground_bold    0xccc37a

# Cursor color
cursor             0xccc37a
cursor_foreground  0x201602

# Background color
background         0x201602

# Color palette (16)
## Black, Gray, Silver, White
color0  0x201602
color8  0x6c6823
color7  0x948e48
color15 0xfaf0a5

## Red
color1  0xc35359
color9  0xc35359

## Green
color2  0x18974e
color10 0x18974e

## Yellow
color3  0xa88339
color11 0xa88339

## Blue
color4  0x477ca1
color12 0x477ca1

## Purple
color5  0x8868b3
color13 0x8868b3

## Teal
color6  0x75a738
color14 0x75a738

## Extra colors
color16 0xb36144
color17 0xb3588e
color18 0x302e00
color19 0x5f5b17
color20 0x86813b
color21 0xccc37a
