# Base16 Tokyo Night Moon - kermit color config
# Author: Ólafur Bjarki Bogason

# Foreground color
foreground         0x3b4261
foreground_bold    0x828bb8

# Cursor color
cursor             0x828bb8
cursor_foreground  0x222436

# Background color
background         0x222436

# Color palette (16)
## Black, Gray, Silver, White
color0  0x222436
color8  0x636da6
color7  0x3b4261
color15 0xc8d3f5

## Red
color1  0xff757f
color9  0xff757f

## Green
color2  0xc3e88d
color10 0xc3e88d

## Yellow
color3  0xffc777
color11 0xffc777

## Blue
color4  0x82aaff
color12 0x82aaff

## Purple
color5  0xfca7ea
color13 0xfca7ea

## Teal
color6  0x86e1fc
color14 0x86e1fc

## Extra colors
color16 0xffc777
color17 0xc53b53
color18 0x1e2030
color19 0x2d3f76
color20 0x828bb8
color21 0x828bb8
