# Base16 eris - kermit color config
# Author: ed (https://codeberg.org/ed)

# Foreground color
foreground         0x606bac
foreground_bold    0x7986c5

# Cursor color
cursor             0x7986c5
cursor_foreground  0x0a0920

# Background color
background         0x0a0920

# Color palette (16)
## Black, Gray, Silver, White
color0  0x0a0920
color8  0x333773
color7  0x606bac
color15 0x9aaae5

## Red
color1  0xf768a3
color9  0xf768a3

## Green
color2  0xfaaea2
color10 0xfaaea2

## Yellow
color3  0xfaaea2
color11 0xfaaea2

## Blue
color4  0x258fc4
color12 0x258fc4

## Purple
color5  0xf768a3
color13 0xf768a3

## Teal
color6  0x258fc4
color14 0x258fc4

## Extra colors
color16 0xf768a3
color17 0xf768a3
color18 0x13133a
color19 0x23255a
color20 0x4a5293
color21 0x7986c5
