# Base16 Terracotta Dark - kermit color config
# Author: Alexander Rossell Hayes (https://github.com/rossellhayes)

# Foreground color
foreground         0xb8a59d
foreground_bold    0xcabbb5

# Cursor color
cursor             0xcabbb5
cursor_foreground  0x241d1a

# Background color
background         0x241d1a

# Color palette (16)
## Black, Gray, Silver, White
color0  0x241d1a
color8  0x594740
color7  0xb8a59d
color15 0xdcd2ce

## Red
color1  0xf6998f
color9  0xf6998f

## Green
color2  0xb6c68a
color10 0xb6c68a

## Yellow
color3  0xffc37a
color11 0xffc37a

## Blue
color4  0xb0a4c3
color12 0xb0a4c3

## Purple
color5  0xd8a2b0
color13 0xd8a2b0

## Teal
color6  0xc0bcdb
color14 0xc0bcdb

## Extra colors
color16 0xffa888
color17 0xf1ae97
color18 0x362b27
color19 0x473933
color20 0xa78e84
color21 0xcabbb5
