# Base16 Tokyo Night Storm - kermit color config
# Author: Michaël Ball

# Foreground color
foreground         0xa9b1d6
foreground_bold    0xcbccd1

# Cursor color
cursor             0xcbccd1
cursor_foreground  0x24283b

# Background color
background         0x24283b

# Color palette (16)
## Black, Gray, Silver, White
color0  0x24283b
color8  0x444b6a
color7  0xa9b1d6
color15 0xd5d6db

## Red
color1  0xc0caf5
color9  0xc0caf5

## Green
color2  0x9ece6a
color10 0x9ece6a

## Yellow
color3  0x0db9d7
color11 0x0db9d7

## Blue
color4  0x2ac3de
color12 0x2ac3de

## Purple
color5  0xbb9af7
color13 0xbb9af7

## Teal
color6  0xb4f9f8
color14 0xb4f9f8

## Extra colors
color16 0xa9b1d6
color17 0xf7768e
color18 0x16161e
color19 0x343a52
color20 0x787c99
color21 0xcbccd1
