# Base16 Unikitty Light - kermit color config
# Author: Josh W Lewis (@joshwlewis)

# Foreground color
foreground         0x6c696e
foreground_bold    0x4f4b51

# Cursor color
cursor             0x4f4b51
cursor_foreground  0xffffff

# Background color
background         0xffffff

# Color palette (16)
## Black, Gray, Silver, White
color0  0xffffff
color8  0xa7a5a8
color7  0x6c696e
color15 0x322d34

## Red
color1  0xd8137f
color9  0xd8137f

## Green
color2  0x17ad98
color10 0x17ad98

## Yellow
color3  0xdc8a0e
color11 0xdc8a0e

## Blue
color4  0x775dff
color12 0x775dff

## Purple
color5  0xaa17e6
color13 0xaa17e6

## Teal
color6  0x149bda
color14 0x149bda

## Extra colors
color16 0xd65407
color17 0xe013d0
color18 0xe1e1e2
color19 0xc4c3c5
color20 0x89878b
color21 0x4f4b51
