# Base16 Tokyo City Terminal Light - kermit color config
# Author: Michaël Ball

# Foreground color
foreground         0x28323a
foreground_bold    0x1d252c

# Cursor color
cursor             0x1d252c
cursor_foreground  0xfbfbfd

# Background color
background         0xfbfbfd

# Color palette (16)
## Black, Gray, Silver, White
color0  0xfbfbfd
color8  0xb7c5d3
color7  0x28323a
color15 0x171d23

## Red
color1  0x8c4351
color9  0x8c4351

## Green
color2  0x33635c
color10 0x33635c

## Yellow
color3  0x8f5e15
color11 0x8f5e15

## Blue
color4  0x34548a
color12 0x34548a

## Purple
color5  0x5a4a78
color13 0x5a4a78

## Teal
color6  0x0f4b6e
color14 0x0f4b6e

## Extra colors
color16 0x965027
color17 0x7e5140
color18 0xf6f6f8
color19 0xd8e2ec
color20 0x526270
color21 0x1d252c
