# Base16 London Tube
# Author: Jan T. Sott

# Foreground color
foreground         0xd9d8d8
foreground_bold    0xe7e7e8

# Cursor color
cursor             0xe7e7e8
cursor_foreground  0x231f20

# Background color
background         0x231f20

# Color palette (16)
## Black, Gray, Silver, White
color0  0x231f20
color8  0x737171
color7  0xd9d8d8
color15 0xffffff

## Red
color1  0xee2e24
color9  0xee2e24

## Green
color2  0x00853e
color10 0x00853e

## Yellow
color3  0xffd204
color11 0xffd204

## Blue
color4  0x009ddc
color12 0x009ddc

## Purple
color5  0x98005d
color13 0x98005d

## Teal
color6  0x85cebc
color14 0x85cebc

## Extra colors
color16 0xf386a1
color17 0xb06110
color18 0x1c3f95
color19 0x5a5758
color20 0x959ca1
color21 0xe7e7e8
