# Base16 Embers - kermit color config
# Author: Jannik Siebert (https://github.com/janniks)

# Foreground color
foreground         0xA39A90
foreground_bold    0xBEB6AE

# Cursor color
cursor             0xBEB6AE
cursor_foreground  0x16130F

# Background color
background         0x16130f

# Color palette (16)
## Black, Gray, Silver, White
color0  0x16130F
color8  0x5A5047
color7  0xA39A90
color15 0xDBD6D1

## Red
color1  0x826D57
color9  0x826D57

## Green
color2  0x57826D
color10 0x57826D

## Yellow
color3  0x6D8257
color11 0x6D8257

## Blue
color4  0x6D5782
color12 0x6D5782

## Purple
color5  0x82576D
color13 0x82576D

## Teal
color6  0x576D82
color14 0x576D82

## Extra colors
color16 0x828257
color17 0x825757
color18 0x2C2620
color19 0x433B32
color20 0x8A8075
color21 0xBEB6AE
