# Base16 SAGA - kermit color config
# Author: https://github.com/SAGAtheme/SAGA

# Foreground color
foreground         0xdce2f7
foreground_bold    0xf8eae7

# Cursor color
cursor             0xf8eae7
cursor_foreground  0x05080a

# Background color
background         0x05080a

# Color palette (16)
## Black, Gray, Silver, White
color0  0x05080a
color8  0x141f27
color7  0xdce2f7
color15 0xccd3fe

## Red
color1  0xffd4e9
color9  0xffd4e9

## Green
color2  0xf7ddff
color10 0xf7ddff

## Yellow
color3  0xfbebc8
color11 0xfbebc8

## Blue
color4  0xc9fff7
color12 0xc9fff7

## Purple
color5  0xdcc3f9
color13 0xdcc3f9

## Teal
color6  0xc5edc1
color14 0xc5edc1

## Extra colors
color16 0xfbcbae
color17 0xf6dddd
color18 0x0a1014
color19 0x0f181e
color20 0x192630
color21 0xf8eae7
