# Base16 ShadeSmear Dark - kermit color config
# Author: Kyle Giammarco (http://kyle.giammar.co)

# Foreground color
foreground         0xdbdbdb
foreground_bold    0xe4e4e4

# Cursor color
cursor             0xe4e4e4
cursor_foreground  0x232323

# Background color
background         0x232323

# Color palette (16)
## Black, Gray, Silver, White
color0  0x232323
color8  0xc0c0c0
color7  0xdbdbdb
color15 0x1c1c1c

## Red
color1  0xcc5450
color9  0xcc5450

## Green
color2  0x71983b
color10 0x71983b

## Yellow
color3  0x307878
color11 0x307878

## Blue
color4  0x376388
color12 0x376388

## Purple
color5  0xd7ab54
color13 0xd7ab54

## Teal
color6  0xc57d42
color14 0xc57d42

## Extra colors
color16 0xa64270
color17 0x6d6d6d
color18 0x1c1c1c
color19 0x4e4e4e
color20 0xe4e4e4
color21 0xe4e4e4
