# Base16 Paraiso - k3rmit color config
# Author: Jan T. Sott

# Foreground color
foreground         0xa39e9b
foreground_bold    0xb9b6b0

# Cursor color
cursor             0xb9b6b0
cursor_foreground  0x2f1e2e

# Background color
background         0x2f1e2e

# Color palette (16)
## Black, Gray, Silver, White
color0  0x2f1e2e
color8  0x776e71
color7  0xa39e9b
color15 0xe7e9db

## Red
color1  0xef6155
color9  0xef6155

## Green
color2  0x48b685
color10 0x48b685

## Yellow
color3  0xfec418
color11 0xfec418

## Blue
color4  0x06b6ef
color12 0x06b6ef

## Purple
color5  0x815ba4
color13 0x815ba4

## Teal
color6  0x5bc4bf
color14 0x5bc4bf

## Extra colors
color16 0xf99b15
color17 0xe96ba8
color18 0x41323f
color19 0x4f424c
color20 0x8d8687
color21 0xb9b6b0
