# Base16 Catppuccin Macchiato - kermit color config
# Author: https://github.com/catppuccin/catppuccin

# Foreground color
foreground         0xcad3f5
foreground_bold    0xf4dbd6

# Cursor color
cursor             0xf4dbd6
cursor_foreground  0x24273a

# Background color
background         0x24273a

# Color palette (16)
## Black, Gray, Silver, White
color0  0x24273a
color8  0x494d64
color7  0xcad3f5
color15 0xb7bdf8

## Red
color1  0xed8796
color9  0xed8796

## Green
color2  0xa6da95
color10 0xa6da95

## Yellow
color3  0xeed49f
color11 0xeed49f

## Blue
color4  0x8aadf4
color12 0x8aadf4

## Purple
color5  0xc6a0f6
color13 0xc6a0f6

## Teal
color6  0x8bd5ca
color14 0x8bd5ca

## Extra colors
color16 0xf5a97f
color17 0xf0c6c6
color18 0x1e2030
color19 0x363a4f
color20 0x5b6078
color21 0xf4dbd6
