# Base16 Atelier Heath Light - kermit color config
# Author: Bram de Haan (http://atelierbramdehaan.nl)

# Foreground color
foreground         0x695d69
foreground_bold    0x292329

# Cursor color
cursor             0x292329
cursor_foreground  0xf7f3f7

# Background color
background         0xf7f3f7

# Color palette (16)
## Black, Gray, Silver, White
color0  0xf7f3f7
color8  0x9e8f9e
color7  0x695d69
color15 0x1b181b

## Red
color1  0xca402b
color9  0xca402b

## Green
color2  0x918b3b
color10 0x918b3b

## Yellow
color3  0xbb8a35
color11 0xbb8a35

## Blue
color4  0x516aec
color12 0x516aec

## Purple
color5  0x7b59c0
color13 0x7b59c0

## Teal
color6  0x159393
color14 0x159393

## Extra colors
color16 0xa65926
color17 0xcc33cc
color18 0xd8cad8
color19 0xab9bab
color20 0x776977
color21 0x292329
