# Base16 Windows High Contrast Light - kermit color config
# Author: Fergus Collins (https://github.com/C-Fergus)

# Foreground color
foreground         0x545454
foreground_bold    0x2a2a2a

# Cursor color
cursor             0x2a2a2a
cursor_foreground  0xfcfcfc

# Background color
background         0xfcfcfc

# Color palette (16)
## Black, Gray, Silver, White
color0  0xfcfcfc
color8  0xc0c0c0
color7  0x545454
color15 0x000000

## Red
color1  0x800000
color9  0x800000

## Green
color2  0x008000
color10 0x008000

## Yellow
color3  0x808000
color11 0x808000

## Blue
color4  0x000080
color12 0x000080

## Purple
color5  0x800080
color13 0x800080

## Teal
color6  0x008080
color14 0x008080

## Extra colors
color16 0xfcfc54
color17 0x54fc54
color18 0xe8e8e8
color19 0xd4d4d4
color20 0x7e7e7e
color21 0x2a2a2a
