# Base16 Github - k3rmit color config
# Author: Defman21

# Foreground color
foreground         0x333333
foreground_bold    0xffffff

# Cursor color
cursor             0xffffff
cursor_foreground  0xffffff

# Background color
background         0xffffff

# Color palette (16)
## Black, Gray, Silver, White
color0  0xffffff
color8  0x969896
color7  0x333333
color15 0xffffff

## Red
color1  0xed6a43
color9  0xed6a43

## Green
color2  0x183691
color10 0x183691

## Yellow
color3  0x795da3
color11 0x795da3

## Blue
color4  0x795da3
color12 0x795da3

## Purple
color5  0xa71d5d
color13 0xa71d5d

## Teal
color6  0x183691
color14 0x183691

## Extra colors
color16 0x0086b3
color17 0x333333
color18 0xf5f5f5
color19 0xc8c8fa
color20 0xe8e8e8
color21 0xffffff
