# Base16 Equilibrium Light - kermit color config
# Author: Carlo Abelli

# Foreground color
foreground         0x43474e
foreground_bold    0x2c3138

# Cursor color
cursor             0x2c3138
cursor_foreground  0xf5f0e7

# Background color
background         0xf5f0e7

# Color palette (16)
## Black, Gray, Silver, White
color0  0xf5f0e7
color8  0x73777f
color7  0x43474e
color15 0x181c22

## Red
color1  0xd02023
color9  0xd02023

## Green
color2  0x637200
color10 0x637200

## Yellow
color3  0x9d6f00
color11 0x9d6f00

## Blue
color4  0x0073b5
color12 0x0073b5

## Purple
color5  0x4e66b6
color13 0x4e66b6

## Teal
color6  0x007a72
color14 0x007a72

## Extra colors
color16 0xbf3e05
color17 0xc42775
color18 0xe7e2d9
color19 0xd8d4cb
color20 0x5a5f66
color21 0x2c3138
