# Base16 Nord - kermit color config
# Author: arcticicestudio

# Foreground color
foreground         0xe5e9f0
foreground_bold    0xeceff4

# Cursor color
cursor             0xeceff4
cursor_foreground  0x2e3440

# Background color
background         0x2e3440

# Color palette (16)
## Black, Gray, Silver, White
color0  0x2e3440
color8  0x4c566a
color7  0xe5e9f0
color15 0x8fbcbb

## Red
color1  0xbf616a
color9  0xbf616a

## Green
color2  0xa3be8c
color10 0xa3be8c

## Yellow
color3  0xebcb8b
color11 0xebcb8b

## Blue
color4  0x81a1c1
color12 0x81a1c1

## Purple
color5  0xb48ead
color13 0xb48ead

## Teal
color6  0x88c0d0
color14 0x88c0d0

## Extra colors
color16 0xd08770
color17 0x5e81ac
color18 0x3b4252
color19 0x434c5e
color20 0xd8dee9
color21 0xeceff4
