# Base16 Atelier Dune
# Author: Bram de Haan (http://atelierbramdehaan.nl)

# Foreground color
foreground         0xa6a28c
foreground_bold    0xe8e4cf

# Cursor color
cursor             0xe8e4cf
cursor_foreground  0x20201d

# Background color
background         0x20201d

# Color palette (16)
## Black, Gray, Silver, White
color0  0x20201d
color8  0x7d7a68
color7  0xa6a28c
color15 0xfefbec

## Red
color1  0xd73737
color9  0xd73737

## Green
color2  0x60ac39
color10 0x60ac39

## Yellow
color3  0xae9513
color11 0xae9513

## Blue
color4  0x6684e1
color12 0x6684e1

## Purple
color5  0xb854d4
color13 0xb854d4

## Teal
color6  0x1fad83
color14 0x1fad83

## Extra colors
color16 0xb65611
color17 0xd43552
color18 0x292824
color19 0x6e6b5e
color20 0x999580
color21 0xe8e4cf
