# Base16 Embers - kermit color config
# Author: Jannik Siebert (https://github.com/janniks)

# Foreground color
foreground         0xa39a90
foreground_bold    0xbeb6ae

# Cursor color
cursor             0xbeb6ae
cursor_foreground  0x16130f

# Background color
background         0x16130f

# Color palette (16)
## Black, Gray, Silver, White
color0  0x16130f
color8  0x5a5047
color7  0xa39a90
color15 0xdbd6d1

## Red
color1  0x826d57
color9  0x826d57

## Green
color2  0x57826d
color10 0x57826d

## Yellow
color3  0x6d8257
color11 0x6d8257

## Blue
color4  0x6d5782
color12 0x6d5782

## Purple
color5  0x82576d
color13 0x82576d

## Teal
color6  0x576d82
color14 0x576d82

## Extra colors
color16 0x828257
color17 0x825757
color18 0x2c2620
color19 0x433b32
color20 0x8a8075
color21 0xbeb6ae
