# Base16 Kimber - kermit color config
# Author: Mishka Nguyen (https://github.com/akhsiM)

# Foreground color
foreground         0xdedee7
foreground_bold    0xc3c3b4

# Cursor color
cursor             0xc3c3b4
cursor_foreground  0x222222

# Background color
background         0x222222

# Color palette (16)
## Black, Gray, Silver, White
color0  0x222222
color8  0x644646
color7  0xdedee7
color15 0xffffe6

## Red
color1  0xc88c8c
color9  0xc88c8c

## Green
color2  0x99c899
color10 0x99c899

## Yellow
color3  0xd8b56d
color11 0xd8b56d

## Blue
color4  0x537c9c
color12 0x537c9c

## Purple
color5  0x86cacd
color13 0x86cacd

## Teal
color6  0x78b4b4
color14 0x78b4b4

## Extra colors
color16 0x476c88
color17 0x704f4f
color18 0x313131
color19 0x555d55
color20 0x5a5a5a
color21 0xc3c3b4
