# Base16 Apprentice - kermit color config
# Author: romainl

# Foreground color
foreground         0x5f5f87
foreground_bold    0x5f8787

# Cursor color
cursor             0x5f8787
cursor_foreground  0x262626

# Background color
background         0x262626

# Color palette (16)
## Black, Gray, Silver, White
color0  0x262626
color8  0x87875f
color7  0x5f5f87
color15 0x6c6c6c

## Red
color1  0x444444
color9  0x444444

## Green
color2  0xffffaf
color10 0xffffaf

## Yellow
color3  0x87af87
color11 0x87af87

## Blue
color4  0x8787af
color12 0x8787af

## Purple
color5  0x5fafaf
color13 0x5fafaf

## Teal
color6  0x87afd7
color14 0x87afd7

## Extra colors
color16 0xff8700
color17 0xbcbcbc
color18 0xaf5f5f
color19 0x5f875f
color20 0x5f87af
color21 0x5f8787
