# Base16 Precious Light Warm - kermit color config
# Author: 4lex4 &lt;4lex49@zoho.com&gt;

# Foreground color
foreground         0x4e5359
foreground_bold    0x4e5359

# Cursor color
cursor             0x4e5359
cursor_foreground  0xfff5e5

# Background color
background         0xfff5e5

# Color palette (16)
## Black, Gray, Silver, White
color0  0xfff5e5
color8  0x7f8080
color7  0x4e5359
color15 0x4e5359

## Red
color1  0xb14745
color9  0xb14745

## Green
color2  0x557300
color10 0x557300

## Yellow
color3  0x876500
color11 0x876500

## Blue
color4  0x246da5
color12 0x246da5

## Purple
color5  0x7a50c6
color13 0x7a50c6

## Teal
color6  0x0e7767
color14 0x0e7767

## Extra colors
color16 0xa25600
color17 0xa83f92
color18 0xece4d6
color19 0xd9d3c8
color20 0x5d6065
color21 0x4e5359
