# Base16 Windows 10 - kermit color config
# Author: Fergus Collins (https://github.com/C-Fergus)

# Foreground color
foreground         0xcccccc
foreground_bold    0xdfdfdf

# Cursor color
cursor             0xdfdfdf
cursor_foreground  0x0c0c0c

# Background color
background         0x0c0c0c

# Color palette (16)
## Black, Gray, Silver, White
color0  0x0c0c0c
color8  0x767676
color7  0xcccccc
color15 0xf2f2f2

## Red
color1  0xe74856
color9  0xe74856

## Green
color2  0x16c60c
color10 0x16c60c

## Yellow
color3  0xf9f1a5
color11 0xf9f1a5

## Blue
color4  0x3b78ff
color12 0x3b78ff

## Purple
color5  0xb4009e
color13 0xb4009e

## Teal
color6  0x61d6d6
color14 0x61d6d6

## Extra colors
color16 0xc19c00
color17 0x13a10e
color18 0x2f2f2f
color19 0x535353
color20 0xb9b9b9
color21 0xdfdfdf
