# Base16 Nord Light - kermit color config
# Author: threddast, based on fuxialexander&#39;s doom-nord-light-theme (Doom Emacs)

# Foreground color
foreground         0x2e3440
foreground_bold    0x3b4252

# Cursor color
cursor             0x3b4252
cursor_foreground  0xe5e9f0

# Background color
background         0xe5e9f0

# Color palette (16)
## Black, Gray, Silver, White
color0  0xe5e9f0
color8  0xaebacf
color7  0x2e3440
color15 0x29838d

## Red
color1  0x99324b
color9  0x99324b

## Green
color2  0x4f894c
color10 0x4f894c

## Yellow
color3  0x9a7500
color11 0x9a7500

## Blue
color4  0x3b6ea8
color12 0x3b6ea8

## Purple
color5  0x97365b
color13 0x97365b

## Teal
color6  0x398eac
color14 0x398eac

## Extra colors
color16 0xac4426
color17 0x5272af
color18 0xc2d0e7
color19 0xb8c5db
color20 0x60728c
color21 0x3b4252
