# Base16 selenized-white - kermit color config
# Author: Jan Warchol (https://github.com/jan-warchol/selenized) / adapted to base16 by ali

# Foreground color
foreground         0x474747
foreground_bold    0x282828

# Cursor color
cursor             0x282828
cursor_foreground  0xffffff

# Background color
background         0xffffff

# Color palette (16)
## Black, Gray, Silver, White
color0  0xffffff
color8  0x878787
color7  0x474747
color15 0x282828

## Red
color1  0xbf0000
color9  0xbf0000

## Green
color2  0x008400
color10 0x008400

## Yellow
color3  0xaf8500
color11 0xaf8500

## Blue
color4  0x0054cf
color12 0x0054cf

## Purple
color5  0x6b40c3
color13 0x6b40c3

## Teal
color6  0x009a8a
color14 0x009a8a

## Extra colors
color16 0xba3700
color17 0xdd0f9d
color18 0xebebeb
color19 0xcdcdcd
color20 0x878787
color21 0x282828
