# Base16 Precious Dark Fifteen - kermit color config
# Author: 4lex4 &lt;4lex49@zoho.com&gt;

# Foreground color
foreground         0xbab9b6
foreground_bold    0xbab9b6

# Cursor color
cursor             0xbab9b6
cursor_foreground  0x23262b

# Background color
background         0x23262b

# Color palette (16)
## Black, Gray, Silver, White
color0  0x23262b
color8  0x898989
color7  0xbab9b6
color15 0xbab9b6

## Red
color1  0xff8782
color9  0xff8782

## Green
color2  0x95b659
color10 0x95b659

## Yellow
color3  0xcfa546
color11 0xcfa546

## Blue
color4  0x66b0ef
color12 0x66b0ef

## Purple
color5  0xb799ff
color13 0xb799ff

## Teal
color6  0x42bda7
color14 0x42bda7

## Extra colors
color16 0xe99857
color17 0xf382d8
color18 0x303337
color19 0x3e4044
color20 0xabaaa8
color21 0xbab9b6
