# Base16 Precious Dark Eleven - kermit color config
# Author: 4lex4 &lt;4lex49@zoho.com&gt;

# Foreground color
foreground         0xb8b7b6
foreground_bold    0xb8b7b6

# Cursor color
cursor             0xb8b7b6
cursor_foreground  0x1c1e20

# Background color
background         0x1c1e20

# Color palette (16)
## Black, Gray, Silver, White
color0  0x1c1e20
color8  0x858585
color7  0xb8b7b6
color15 0xb8b7b6

## Red
color1  0xff8782
color9  0xff8782

## Green
color2  0x95b658
color10 0x95b658

## Yellow
color3  0xd0a543
color11 0xd0a543

## Blue
color4  0x68b0ee
color12 0x68b0ee

## Purple
color5  0xb799fe
color13 0xb799fe

## Teal
color6  0x42bda7
color14 0x42bda7

## Extra colors
color16 0xea9755
color17 0xf382d8
color18 0x292b2d
color19 0x37393a
color20 0xa8a8a7
color21 0xb8b7b6
