# Base16 Espresso - kermit color config
# Author: Unknown. Maintained by Alex Mirrington (https://github.com/alexmirrington)

# Foreground color
foreground         0xcccccc
foreground_bold    0xe0e0e0

# Cursor color
cursor             0xe0e0e0
cursor_foreground  0x2d2d2d

# Background color
background         0x2d2d2d

# Color palette (16)
## Black, Gray, Silver, White
color0  0x2d2d2d
color8  0x777777
color7  0xcccccc
color15 0xffffff

## Red
color1  0xd25252
color9  0xd25252

## Green
color2  0xa5c261
color10 0xa5c261

## Yellow
color3  0xffc66d
color11 0xffc66d

## Blue
color4  0x6c99bb
color12 0x6c99bb

## Purple
color5  0xd197d9
color13 0xd197d9

## Teal
color6  0xbed6ff
color14 0xbed6ff

## Extra colors
color16 0xf9a959
color17 0xf97394
color18 0x393939
color19 0x515151
color20 0xb4b7b4
color21 0xe0e0e0
