# Base16 Da One White - kermit color config
# Author: NNB (https://github.com/NNBnh)

# Foreground color
foreground         0x181818
foreground_bold    0x000000

# Cursor color
cursor             0x000000
cursor_foreground  0xffffff

# Background color
background         0xffffff

# Color palette (16)
## Black, Gray, Silver, White
color0  0xffffff
color8  0x585858
color7  0x181818
color15 0x000000

## Red
color1  0xde5d6e
color9  0xde5d6e

## Green
color2  0x76a85d
color10 0x76a85d

## Yellow
color3  0xb3684f
color11 0xb3684f

## Blue
color4  0x5890f8
color12 0x5890f8

## Purple
color5  0xc173d1
color13 0xc173d1

## Teal
color6  0x64b5a7
color14 0x64b5a7

## Extra colors
color16 0xff9470
color17 0xb3684f
color18 0xc8c8c8
color19 0x888888
color20 0x282828
color21 0x000000
