# Base16 iA Dark - kermit color config
# Author: iA Inc. (modified by aramisgithub)

# Foreground color
foreground         0xcccccc
foreground_bold    0xe8e8e8

# Cursor color
cursor             0xe8e8e8
cursor_foreground  0x1a1a1a

# Background color
background         0x1a1a1a

# Color palette (16)
## Black, Gray, Silver, White
color0  0x1a1a1a
color8  0x767676
color7  0xcccccc
color15 0xf8f8f8

## Red
color1  0xd88568
color9  0xd88568

## Green
color2  0x83a471
color10 0x83a471

## Yellow
color3  0xb99353
color11 0xb99353

## Blue
color4  0x8eccdd
color12 0x8eccdd

## Purple
color5  0xb98eb2
color13 0xb98eb2

## Teal
color6  0x7c9cae
color14 0x7c9cae

## Extra colors
color16 0xd86868
color17 0x8b6c37
color18 0x222222
color19 0x1d414d
color20 0xb8b8b8
color21 0xe8e8e8
