# Base16 Kanagawa - kermit color config
# Author: Tommaso Laurenzi (https://github.com/rebelot)

# Foreground color
foreground         0xdcd7ba
foreground_bold    0xc8c093

# Cursor color
cursor             0xc8c093
cursor_foreground  0x1f1f28

# Background color
background         0x1f1f28

# Color palette (16)
## Black, Gray, Silver, White
color0  0x1f1f28
color8  0x54546d
color7  0xdcd7ba
color15 0x717c7c

## Red
color1  0xc34043
color9  0xc34043

## Green
color2  0x76946a
color10 0x76946a

## Yellow
color3  0xc0a36e
color11 0xc0a36e

## Blue
color4  0x7e9cd8
color12 0x7e9cd8

## Purple
color5  0x957fb8
color13 0x957fb8

## Teal
color6  0x6a9589
color14 0x6a9589

## Extra colors
color16 0xffa066
color17 0xd27e99
color18 0x16161d
color19 0x223249
color20 0x727169
color21 0xc8c093
