# Base16 Atelier Plateau Light - kermit color config
# Author: Bram de Haan (http://atelierbramdehaan.nl)

# Foreground color
foreground         0x585050
foreground_bold    0x292424

# Cursor color
cursor             0x292424
cursor_foreground  0xf4ecec

# Background color
background         0xf4ecec

# Color palette (16)
## Black, Gray, Silver, White
color0  0xf4ecec
color8  0x7e7777
color7  0x585050
color15 0x1b1818

## Red
color1  0xca4949
color9  0xca4949

## Green
color2  0x4b8b8b
color10 0x4b8b8b

## Yellow
color3  0xa06e3b
color11 0xa06e3b

## Blue
color4  0x7272ca
color12 0x7272ca

## Purple
color5  0x8464c4
color13 0x8464c4

## Teal
color6  0x5485b6
color14 0x5485b6

## Extra colors
color16 0xb45a3c
color17 0xbd5187
color18 0xe7dfdf
color19 0x8a8585
color20 0x655d5d
color21 0x292424
