# Base16 Material - kermit color config
# Author: Nate Peterson

# Foreground color
foreground         0xeeffff
foreground_bold    0xeeffff

# Cursor color
cursor             0xeeffff
cursor_foreground  0x263238

# Background color
background         0x263238

# Color palette (16)
## Black, Gray, Silver, White
color0  0x263238
color8  0x546e7a
color7  0xeeffff
color15 0xffffff

## Red
color1  0xf07178
color9  0xf07178

## Green
color2  0xc3e88d
color10 0xc3e88d

## Yellow
color3  0xffcb6b
color11 0xffcb6b

## Blue
color4  0x82aaff
color12 0x82aaff

## Purple
color5  0xc792ea
color13 0xc792ea

## Teal
color6  0x89ddff
color14 0x89ddff

## Extra colors
color16 0xf78c6c
color17 0xff5370
color18 0x2e3c43
color19 0x314549
color20 0xb2ccd6
color21 0xeeffff
