# Base16 Shades of Purple - kermit color config
# Author: Iolar Demartini Junior (http://github.com/demartini) based on Shades of Purple Theme (https://github.com/ahmadawais/shades-of-purple-vscode).

# Foreground color
foreground         0xc7c7c7
foreground_bold    0xff77ff

# Cursor color
cursor             0xff77ff
cursor_foreground  0x1e1e3f

# Background color
background         0x1e1e3f

# Color palette (16)
## Black, Gray, Silver, White
color0  0x1e1e3f
color8  0x808080
color7  0xc7c7c7
color15 0xffffff

## Red
color1  0xd90429
color9  0xd90429

## Green
color2  0x3ad900
color10 0x3ad900

## Yellow
color3  0xffe700
color11 0xffe700

## Blue
color4  0x6943ff
color12 0x6943ff

## Purple
color5  0xff2c70
color13 0xff2c70

## Teal
color6  0x00c5c7
color14 0x00c5c7

## Extra colors
color16 0xf92a1c
color17 0x79e8fb
color18 0x43d426
color19 0xf1d000
color20 0x6871ff
color21 0xff77ff
