# Base16 Seti UI - kermit color config
# Author: 

# Foreground color
foreground         0xd6d6d6
foreground_bold    0xeeeeee

# Cursor color
cursor             0xeeeeee
cursor_foreground  0x151718

# Background color
background         0x151718

# Color palette (16)
## Black, Gray, Silver, White
color0  0x151718
color8  0x41535B
color7  0xd6d6d6
color15 0xffffff

## Red
color1  0xCd3f45
color9  0xCd3f45

## Green
color2  0x9fca56
color10 0x9fca56

## Yellow
color3  0xe6cd69
color11 0xe6cd69

## Blue
color4  0x55b5db
color12 0x55b5db

## Purple
color5  0xa074c4
color13 0xa074c4

## Teal
color6  0x55dbbe
color14 0x55dbbe

## Extra colors
color16 0xdb7b55
color17 0x8a553f
color18 0x282a2b
color19 0x3B758C
color20 0x43a5d5
color21 0xeeeeee
