# Base16 Bright - kermit color config
# Author: Chris Kempson (http://chriskempson.com)

# Foreground color
foreground         0xe0e0e0
foreground_bold    0xf5f5f5

# Cursor color
cursor             0xf5f5f5
cursor_foreground  0x000000

# Background color
background         0x000000

# Color palette (16)
## Black, Gray, Silver, White
color0  0x000000
color8  0xb0b0b0
color7  0xe0e0e0
color15 0xffffff

## Red
color1  0xfb0120
color9  0xfb0120

## Green
color2  0xa1c659
color10 0xa1c659

## Yellow
color3  0xfda331
color11 0xfda331

## Blue
color4  0x6fb3d2
color12 0x6fb3d2

## Purple
color5  0xd381c3
color13 0xd381c3

## Teal
color6  0x76c7b7
color14 0x76c7b7

## Extra colors
color16 0xfc6d24
color17 0xbe643c
color18 0x303030
color19 0x505050
color20 0xd0d0d0
color21 0xf5f5f5
