# Base16 Porple
# Author: Niek den Breeje (https://github.com/AuditeMarlow)

# Foreground color
foreground         0xd8d8d8
foreground_bold    0xe8e8e8

# Cursor color
cursor             0xe8e8e8
cursor_foreground  0x292c36

# Background color
background         0x292c36

# Color palette (16)
## Black, Gray, Silver, White
color0  0x292c36
color8  0x65568a
color7  0xd8d8d8
color15 0xf8f8f8

## Red
color1  0xf84547
color9  0xf84547

## Green
color2  0x95c76f
color10 0x95c76f

## Yellow
color3  0xefa16b
color11 0xefa16b

## Blue
color4  0x8485ce
color12 0x8485ce

## Purple
color5  0xb74989
color13 0xb74989

## Teal
color6  0x64878f
color14 0x64878f

## Extra colors
color16 0xd28e5d
color17 0x986841
color18 0x333344
color19 0x474160
color20 0xb8b8b8
color21 0xe8e8e8
