# Base16 caroline - kermit color config
# Author: ed (https://codeberg.org/ed)

# Foreground color
foreground         0xa87569
foreground_bold    0xc58d7b

# Cursor color
cursor             0xc58d7b
cursor_foreground  0x1c1213

# Background color
background         0x1c1213

# Color palette (16)
## Black, Gray, Silver, White
color0  0x1c1213
color8  0x6d4745
color7  0xa87569
color15 0xe3a68c

## Red
color1  0xc24f57
color9  0xc24f57

## Green
color2  0x806c61
color10 0x806c61

## Yellow
color3  0xf28171
color11 0xf28171

## Blue
color4  0x684c59
color12 0x684c59

## Purple
color5  0xa63650
color13 0xa63650

## Teal
color6  0x6b6566
color14 0x6b6566

## Extra colors
color16 0xa63650
color17 0x893f45
color18 0x3a2425
color19 0x563837
color20 0x8b5d57
color21 0xc58d7b
