# Base16 Material Lighter - kermit color config
# Author: Nate Peterson

# Foreground color
foreground         0x80cbc4
foreground_bold    0x80cbc4

# Cursor color
cursor             0x80cbc4
cursor_foreground  0xfafafa

# Background color
background         0xfafafa

# Color palette (16)
## Black, Gray, Silver, White
color0  0xfafafa
color8  0xccd7da
color7  0x80cbc4
color15 0xffffff

## Red
color1  0xff5370
color9  0xff5370

## Green
color2  0x91b859
color10 0x91b859

## Yellow
color3  0xffb62c
color11 0xffb62c

## Blue
color4  0x6182b8
color12 0x6182b8

## Purple
color5  0x7c4dff
color13 0x7c4dff

## Teal
color6  0x39adb5
color14 0x39adb5

## Extra colors
color16 0xf76d47
color17 0xe53935
color18 0xe7eaec
color19 0xcceae7
color20 0x8796b0
color21 0x80cbc4
