# Base16 Dracula - kermit color config
# Author: Jamy Golden (http://github.com/JamyGolden), based on Dracula Theme (http://github.com/dracula)

# Foreground color
foreground         0xf8f8f2
foreground_bold    0xf0f1f4

# Cursor color
cursor             0xf0f1f4
cursor_foreground  0x282a36

# Background color
background         0x282a36

# Color palette (16)
## Black, Gray, Silver, White
color0  0x282a36
color8  0x6272a4
color7  0xf8f8f2
color15 0xffffff

## Red
color1  0xff5555
color9  0xff5555

## Green
color2  0x50fa7b
color10 0x50fa7b

## Yellow
color3  0xf1fa8c
color11 0xf1fa8c

## Blue
color4  0x80bfff
color12 0x80bfff

## Purple
color5  0xff79c6
color13 0xff79c6

## Teal
color6  0x8be9fd
color14 0x8be9fd

## Extra colors
color16 0xffb86c
color17 0xbd93f9
color18 0x363447
color19 0x44475a
color20 0x9ea8c7
color21 0xf0f1f4
