# Base16 Atelier Forest - k3rmit color config
# Author: Bram de Haan (http://atelierbramdehaan.nl)

# Foreground color
foreground         0xa8a19f
foreground_bold    0xe6e2e0

# Cursor color
cursor             0xe6e2e0
cursor_foreground  0x1b1918

# Background color
background         0x1b1918

# Color palette (16)
## Black, Gray, Silver, White
color0  0x1b1918
color8  0x766e6b
color7  0xa8a19f
color15 0xf1efee

## Red
color1  0xf22c40
color9  0xf22c40

## Green
color2  0x7b9726
color10 0x7b9726

## Yellow
color3  0xc38418
color11 0xc38418

## Blue
color4  0x407ee7
color12 0x407ee7

## Purple
color5  0x6666ea
color13 0x6666ea

## Teal
color6  0x3d97b8
color14 0x3d97b8

## Extra colors
color16 0xdf5320
color17 0xc33ff3
color18 0x2c2421
color19 0x68615e
color20 0x9c9491
color21 0xe6e2e0
