# Base16 Edge Light - kermit color config
# Author: cjayross (https://github.com/cjayross)

# Foreground color
foreground         0x5e646f
foreground_bold    0xb870ce

# Cursor color
cursor             0xb870ce
cursor_foreground  0xfafafa

# Background color
background         0xfafafa

# Color palette (16)
## Black, Gray, Silver, White
color0  0xfafafa
color8  0x5e646f
color7  0x5e646f
color15 0x5e646f

## Red
color1  0xdb7070
color9  0xdb7070

## Green
color2  0x7c9f4b
color10 0x7c9f4b

## Yellow
color3  0xd69822
color11 0xd69822

## Blue
color4  0x6587bf
color12 0x6587bf

## Purple
color5  0xb870ce
color13 0xb870ce

## Teal
color6  0x509c93
color14 0x509c93

## Extra colors
color16 0xdb7070
color17 0x509c93
color18 0x7c9f4b
color19 0xd69822
color20 0x6587bf
color21 0xb870ce
