# Base16 Brewer - kermit color config
# Author: Timothée Poisot (http://github.com/tpoisot)

# Foreground color
foreground         0xb7b8b9
foreground_bold    0xdadbdc

# Cursor color
cursor             0xdadbdc
cursor_foreground  0x0c0d0e

# Background color
background         0x0c0d0e

# Color palette (16)
## Black, Gray, Silver, White
color0  0x0c0d0e
color8  0x737475
color7  0xb7b8b9
color15 0xfcfdfe

## Red
color1  0xe31a1c
color9  0xe31a1c

## Green
color2  0x31a354
color10 0x31a354

## Yellow
color3  0xdca060
color11 0xdca060

## Blue
color4  0x3182bd
color12 0x3182bd

## Purple
color5  0x756bb1
color13 0x756bb1

## Teal
color6  0x80b1d3
color14 0x80b1d3

## Extra colors
color16 0xe6550d
color17 0xb15928
color18 0x2e2f30
color19 0x515253
color20 0x959697
color21 0xdadbdc
