# Base16 Catppuccin Frappe - kermit color config
# Author: https://github.com/catppuccin/catppuccin

# Foreground color
foreground         0xc6d0f5
foreground_bold    0xf2d5cf

# Cursor color
cursor             0xf2d5cf
cursor_foreground  0x303446

# Background color
background         0x303446

# Color palette (16)
## Black, Gray, Silver, White
color0  0x303446
color8  0x51576d
color7  0xc6d0f5
color15 0xbabbf1

## Red
color1  0xe78284
color9  0xe78284

## Green
color2  0xa6d189
color10 0xa6d189

## Yellow
color3  0xe5c890
color11 0xe5c890

## Blue
color4  0x8caaee
color12 0x8caaee

## Purple
color5  0xca9ee6
color13 0xca9ee6

## Teal
color6  0x81c8be
color14 0x81c8be

## Extra colors
color16 0xef9f76
color17 0xeebebe
color18 0x292c3c
color19 0x414559
color20 0x626880
color21 0xf2d5cf
