# Base16 Cupcake - k3rmit color config
# Author: Chris Kempson (http://chriskempson.com)

# Foreground color
foreground         0x8b8198
foreground_bold    0x72677E

# Cursor color
cursor             0x72677E
cursor_foreground  0xfbf1f2

# Background color
background         0xfbf1f2

# Color palette (16)
## Black, Gray, Silver, White
color0  0xfbf1f2
color8  0xbfb9c6
color7  0x8b8198
color15 0x585062

## Red
color1  0xD57E85
color9  0xD57E85

## Green
color2  0xA3B367
color10 0xA3B367

## Yellow
color3  0xDCB16C
color11 0xDCB16C

## Blue
color4  0x7297B9
color12 0x7297B9

## Purple
color5  0xBB99B4
color13 0xBB99B4

## Teal
color6  0x69A9A7
color14 0x69A9A7

## Extra colors
color16 0xEBB790
color17 0xBAA58C
color18 0xf2f1f4
color19 0xd8d5dd
color20 0xa59daf
color21 0x72677E
