# Base16 Apathy - kermit color config
# Author: Jannik Siebert (https://github.com/janniks)

# Foreground color
foreground         0x81B5AC
foreground_bold    0xA7CEC8

# Cursor color
cursor             0xA7CEC8
cursor_foreground  0x031A16

# Background color
background         0x031a16

# Color palette (16)
## Black, Gray, Silver, White
color0  0x031A16
color8  0x2B685E
color7  0x81B5AC
color15 0xD2E7E4

## Red
color1  0x3E9688
color9  0x3E9688

## Green
color2  0x883E96
color10 0x883E96

## Yellow
color3  0x3E4C96
color11 0x3E4C96

## Blue
color4  0x96883E
color12 0x96883E

## Purple
color5  0x4C963E
color13 0x4C963E

## Teal
color6  0x963E4C
color14 0x963E4C

## Extra colors
color16 0x3E7996
color17 0x3E965B
color18 0x0B342D
color19 0x184E45
color20 0x5F9C92
color21 0xA7CEC8
