# Base16 Silk Dark - kermit color config
# Author: Gabriel Fontes (https://github.com/Misterio77)

# Foreground color
foreground         0xc7dbdd
foreground_bold    0xcbf2f7

# Cursor color
cursor             0xcbf2f7
cursor_foreground  0x0e3c46

# Background color
background         0x0e3c46

# Color palette (16)
## Black, Gray, Silver, White
color0  0x0e3c46
color8  0x587073
color7  0xc7dbdd
color15 0xd2faff

## Red
color1  0xfb6953
color9  0xfb6953

## Green
color2  0x73d8ad
color10 0x73d8ad

## Yellow
color3  0xfce380
color11 0xfce380

## Blue
color4  0x46bddd
color12 0x46bddd

## Purple
color5  0x756b8a
color13 0x756b8a

## Teal
color6  0x3fb2b9
color14 0x3fb2b9

## Extra colors
color16 0xfcab74
color17 0x9b647b
color18 0x1d494e
color19 0x2a5054
color20 0x9dc8cd
color21 0xcbf2f7
