# Base16 Ashes
# Author: Jannik Siebert (https://github.com/janniks)

# Foreground color
foreground         0xC7CCD1
foreground_bold    0xDFE2E5

# Cursor color
cursor             0xDFE2E5
cursor_foreground  0x1C2023

# Background color
background         0x1c2023

# Color palette (16)
## Black, Gray, Silver, White
color0  0x1C2023
color8  0x747C84
color7  0xC7CCD1
color15 0xF3F4F5

## Red
color1  0xC7AE95
color9  0xC7AE95

## Green
color2  0x95C7AE
color10 0x95C7AE

## Yellow
color3  0xAEC795
color11 0xAEC795

## Blue
color4  0xAE95C7
color12 0xAE95C7

## Purple
color5  0xC795AE
color13 0xC795AE

## Teal
color6  0x95AEC7
color14 0x95AEC7

## Extra colors
color16 0xC7C795
color17 0xC79595
color18 0x393F45
color19 0x565E65
color20 0xADB3BA
color21 0xDFE2E5
