# Base16 emil - kermit color config
# Author: limelier

# Foreground color
foreground         0x313145
foreground_bold    0x22223a

# Cursor color
cursor             0x22223a
cursor_foreground  0xefefef

# Background color
background         0xefefef

# Color palette (16)
## Black, Gray, Silver, White
color0  0xefefef
color8  0x7c7c98
color7  0x313145
color15 0x1a1a2f

## Red
color1  0xf43979
color9  0xf43979

## Green
color2  0x0073a8
color10 0x0073a8

## Yellow
color3  0xff669b
color11 0xff669b

## Blue
color4  0x471397
color12 0x471397

## Purple
color5  0x6916b6
color13 0x6916b6

## Teal
color6  0x2155d6
color14 0x2155d6

## Extra colors
color16 0xd22a8b
color17 0x8d17a5
color18 0xbebed2
color19 0x9e9eaf
color20 0x505063
color21 0x22223a
