# Base16 Qualia - kermit color config
# Author: isaacwhanson

# Foreground color
foreground         0xc0c0c0
foreground_bold    0xc0c0c0

# Cursor color
cursor             0xc0c0c0
cursor_foreground  0x101010

# Background color
background         0x101010

# Color palette (16)
## Black, Gray, Silver, White
color0  0x101010
color8  0x454545
color7  0xc0c0c0
color15 0x454545

## Red
color1  0xefa6a2
color9  0xefa6a2

## Green
color2  0x80c990
color10 0x80c990

## Yellow
color3  0xe6a3dc
color11 0xe6a3dc

## Blue
color4  0x50cacd
color12 0x50cacd

## Purple
color5  0xe0af85
color13 0xe0af85

## Teal
color6  0xc8c874
color14 0xc8c874

## Extra colors
color16 0xa3b8ef
color17 0x808080
color18 0x454545
color19 0x454545
color20 0x808080
color21 0xc0c0c0
