# Base16 Materia - kermit color config
# Author: Defman21

# Foreground color
foreground         0xcdd3de
foreground_bold    0xd5dbe5

# Cursor color
cursor             0xd5dbe5
cursor_foreground  0x263238

# Background color
background         0x263238

# Color palette (16)
## Black, Gray, Silver, White
color0  0x263238
color8  0x707880
color7  0xcdd3de
color15 0xffffff

## Red
color1  0xec5f67
color9  0xec5f67

## Green
color2  0x8bd649
color10 0x8bd649

## Yellow
color3  0xffcc00
color11 0xffcc00

## Blue
color4  0x89ddff
color12 0x89ddff

## Purple
color5  0x82aaff
color13 0x82aaff

## Teal
color6  0x80cbc4
color14 0x80cbc4

## Extra colors
color16 0xea9560
color17 0xec5f67
color18 0x2c393f
color19 0x37474f
color20 0xc9ccd3
color21 0xd5dbe5
