# Base16 Atelier Cave Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)

# Foreground color
foreground         0x585260
foreground_bold    0x26232a

# Cursor color
cursor             0x26232a
cursor_foreground  0xefecf4

# Background color
background         0xefecf4

# Color palette (16)
## Black, Gray, Silver, White
color0  0xefecf4
color8  0x7e7887
color7  0x585260
color15 0x19171c

## Red
color1  0xbe4678
color9  0xbe4678

## Green
color2  0x2a9292
color10 0x2a9292

## Yellow
color3  0xa06e3b
color11 0xa06e3b

## Blue
color4  0x576ddb
color12 0x576ddb

## Purple
color5  0x955ae7
color13 0x955ae7

## Teal
color6  0x398bc6
color14 0x398bc6

## Extra colors
color16 0xaa573c
color17 0xbf40bf
color18 0xe2dfe7
color19 0x8b8792
color20 0x655f6d
color21 0x26232a
