# Base16 Equilibrium Gray Dark - kermit color config
# Author: Carlo Abelli

# Foreground color
foreground         0xababab
foreground_bold    0xc6c6c6

# Cursor color
cursor             0xc6c6c6
cursor_foreground  0x111111

# Background color
background         0x111111

# Color palette (16)
## Black, Gray, Silver, White
color0  0x111111
color8  0x777777
color7  0xababab
color15 0xe2e2e2

## Red
color1  0xf04339
color9  0xf04339

## Green
color2  0x7f8b00
color10 0x7f8b00

## Yellow
color3  0xbb8801
color11 0xbb8801

## Blue
color4  0x008dd1
color12 0x008dd1

## Purple
color5  0x6a7fd2
color13 0x6a7fd2

## Teal
color6  0x00948b
color14 0x00948b

## Extra colors
color16 0xdf5923
color17 0xe3488e
color18 0x1b1b1b
color19 0x262626
color20 0x919191
color21 0xc6c6c6
