# Base16 Tango - kermit color config
# Author: @Schnouki, based on the Tango Desktop Project

# Foreground color
foreground         0xd3d7cf
foreground_bold    0xad7fa8

# Cursor color
cursor             0xad7fa8
cursor_foreground  0x2e3436

# Background color
background         0x2e3436

# Color palette (16)
## Black, Gray, Silver, White
color0  0x2e3436
color8  0x555753
color7  0xd3d7cf
color15 0xeeeeec

## Red
color1  0xcc0000
color9  0xcc0000

## Green
color2  0x4e9a06
color10 0x4e9a06

## Yellow
color3  0xc4a000
color11 0xc4a000

## Blue
color4  0x3465a4
color12 0x3465a4

## Purple
color5  0x75507b
color13 0x75507b

## Teal
color6  0x06989a
color14 0x06989a

## Extra colors
color16 0xef2929
color17 0x34e2e2
color18 0x8ae234
color19 0xfce94f
color20 0x729fcf
color21 0xad7fa8
