# Base16 Precious Light White - kermit color config
# Author: 4lex4 &lt;4lex49@zoho.com&gt;

# Foreground color
foreground         0x555555
foreground_bold    0x555555

# Cursor color
cursor             0x555555
cursor_foreground  0xffffff

# Background color
background         0xffffff

# Color palette (16)
## Black, Gray, Silver, White
color0  0xffffff
color8  0x848484
color7  0x555555
color15 0x555555

## Red
color1  0xaf4947
color9  0xaf4947

## Green
color2  0x557301
color10 0x557301

## Yellow
color3  0x876500
color11 0x876500

## Blue
color4  0x186daa
color12 0x186daa

## Purple
color5  0x7b4ecb
color13 0x7b4ecb

## Teal
color6  0x087767
color14 0x087767

## Extra colors
color16 0xa0570d
color17 0xa93e93
color18 0xededed
color19 0xdbdbdb
color20 0x636363
color21 0x555555
