# Base16 Darktooth - kermit color config
# Author: Jason Milkins (https://github.com/jasonm23)

# Foreground color
foreground         0xA89984
foreground_bold    0xD5C4A1

# Cursor color
cursor             0xD5C4A1
cursor_foreground  0x1D2021

# Background color
background         0x1d2021

# Color palette (16)
## Black, Gray, Silver, White
color0  0x1D2021
color8  0x665C54
color7  0xA89984
color15 0xFDF4C1

## Red
color1  0xFB543F
color9  0xFB543F

## Green
color2  0x95C085
color10 0x95C085

## Yellow
color3  0xFAC03B
color11 0xFAC03B

## Blue
color4  0x0D6678
color12 0x0D6678

## Purple
color5  0x8F4673
color13 0x8F4673

## Teal
color6  0x8BA59B
color14 0x8BA59B

## Extra colors
color16 0xFE8625
color17 0xA87322
color18 0x32302F
color19 0x504945
color20 0x928374
color21 0xD5C4A1
