# Base16 Colors - kermit color config
# Author: mrmrs (http://clrs.cc)

# Foreground color
foreground         0xbbbbbb
foreground_bold    0xdddddd

# Cursor color
cursor             0xdddddd
cursor_foreground  0x111111

# Background color
background         0x111111

# Color palette (16)
## Black, Gray, Silver, White
color0  0x111111
color8  0x777777
color7  0xbbbbbb
color15 0xffffff

## Red
color1  0xff4136
color9  0xff4136

## Green
color2  0x2ecc40
color10 0x2ecc40

## Yellow
color3  0xffdc00
color11 0xffdc00

## Blue
color4  0x0074d9
color12 0x0074d9

## Purple
color5  0xb10dc9
color13 0xb10dc9

## Teal
color6  0x7fdbff
color14 0x7fdbff

## Extra colors
color16 0xff851b
color17 0x85144b
color18 0x333333
color19 0x555555
color20 0x999999
color21 0xdddddd
