# Base16 summercamp - kermit color config
# Author: zoe firi (zoefiri.github.io)

# Foreground color
foreground         0x736e55
foreground_bold    0xbab696

# Cursor color
cursor             0xbab696
cursor_foreground  0x1c1810

# Background color
background         0x1c1810

# Color palette (16)
## Black, Gray, Silver, White
color0  0x1c1810
color8  0x504b38
color7  0x736e55
color15 0xf8f5de

## Red
color1  0xe35142
color9  0xe35142

## Green
color2  0x5ceb5a
color10 0x5ceb5a

## Yellow
color3  0xf2ff27
color11 0xf2ff27

## Blue
color4  0x489bf0
color12 0x489bf0

## Purple
color5  0xff8080
color13 0xff8080

## Teal
color6  0x5aebbc
color14 0x5aebbc

## Extra colors
color16 0xfba11b
color17 0xf69be7
color18 0x2a261c
color19 0x3a3527
color20 0x5f5b45
color21 0xbab696
