# Base16 Vesper - kermit color config
# Author: FormalSnake (https://github.com/formalsnake)

# Foreground color
foreground         0xb7b7b7
foreground_bold    0xc1c1c1

# Cursor color
cursor             0xc1c1c1
cursor_foreground  0x101010

# Background color
background         0x101010

# Color palette (16)
## Black, Gray, Silver, White
color0  0x101010
color8  0x333333
color7  0xb7b7b7
color15 0xd5d5d5

## Red
color1  0xde6e6e
color9  0xde6e6e

## Green
color2  0x5f8787
color10 0x5f8787

## Yellow
color3  0xffc799
color11 0xffc799

## Blue
color4  0x8eaaaa
color12 0x8eaaaa

## Purple
color5  0xd69094
color13 0xd69094

## Teal
color6  0x60a592
color14 0x60a592

## Extra colors
color16 0xdab083
color17 0x876c4f
color18 0x232323
color19 0x222222
color20 0x999999
color21 0xc1c1c1
