# Base16 Solar Flare - kermit color config
# Author: Chuck Harmston (https://chuck.harmston.ch)

# Foreground color
foreground         0xa6afb8
foreground_bold    0xe8e9ed

# Cursor color
cursor             0xe8e9ed
cursor_foreground  0x18262f

# Background color
background         0x18262f

# Color palette (16)
## Black, Gray, Silver, White
color0  0x18262f
color8  0x667581
color7  0xa6afb8
color15 0xf5f7fa

## Red
color1  0xef5253
color9  0xef5253

## Green
color2  0x7cc844
color10 0x7cc844

## Yellow
color3  0xe4b51c
color11 0xe4b51c

## Blue
color4  0x33b5e1
color12 0x33b5e1

## Purple
color5  0xa363d5
color13 0xa363d5

## Teal
color6  0x52cbb0
color14 0x52cbb0

## Extra colors
color16 0xe66b2b
color17 0xd73c9a
color18 0x222e38
color19 0x586875
color20 0x85939e
color21 0xe8e9ed
