# Base16 OneDark - kermit color config
# Author: Lalit Magant (http://github.com/tilal6991)

# Foreground color
foreground         0xabb2bf
foreground_bold    0xb6bdca

# Cursor color
cursor             0xb6bdca
cursor_foreground  0x282c34

# Background color
background         0x282c34

# Color palette (16)
## Black, Gray, Silver, White
color0  0x282c34
color8  0x545862
color7  0xabb2bf
color15 0xc8ccd4

## Red
color1  0xe06c75
color9  0xe06c75

## Green
color2  0x98c379
color10 0x98c379

## Yellow
color3  0xe5c07b
color11 0xe5c07b

## Blue
color4  0x61afef
color12 0x61afef

## Purple
color5  0xc678dd
color13 0xc678dd

## Teal
color6  0x56b6c2
color14 0x56b6c2

## Extra colors
color16 0xd19a66
color17 0xbe5046
color18 0x353b45
color19 0x3e4451
color20 0x565c64
color21 0xb6bdca
