# Base16 Macintosh
# Author: Rebecca Bettencourt (http://www.kreativekorp.com)

# Foreground color
foreground         0xc0c0c0
foreground_bold    0xc0c0c0

# Cursor color
cursor             0xc0c0c0
cursor_foreground  0x000000

# Background color
background         0x000000

# Color palette (16)
## Black, Gray, Silver, White
color0  0x000000
color8  0x808080
color7  0xc0c0c0
color15 0xffffff

## Red
color1  0xdd0907
color9  0xdd0907

## Green
color2  0x1fb714
color10 0x1fb714

## Yellow
color3  0xfbf305
color11 0xfbf305

## Blue
color4  0x0000d3
color12 0x0000d3

## Purple
color5  0x4700a5
color13 0x4700a5

## Teal
color6  0x02abea
color14 0x02abea

## Extra colors
color16 0xff6403
color17 0x90713a
color18 0x404040
color19 0x404040
color20 0x808080
color21 0xc0c0c0
