# Base16 Atelier Plateau - k3rmit color config
# Author: Bram de Haan (http://atelierbramdehaan.nl)

# Foreground color
foreground         0x8a8585
foreground_bold    0xe7dfdf

# Cursor color
cursor             0xe7dfdf
cursor_foreground  0x1b1818

# Background color
background         0x1b1818

# Color palette (16)
## Black, Gray, Silver, White
color0  0x1b1818
color8  0x655d5d
color7  0x8a8585
color15 0xf4ecec

## Red
color1  0xca4949
color9  0xca4949

## Green
color2  0x4b8b8b
color10 0x4b8b8b

## Yellow
color3  0xa06e3b
color11 0xa06e3b

## Blue
color4  0x7272ca
color12 0x7272ca

## Purple
color5  0x8464c4
color13 0x8464c4

## Teal
color6  0x5485b6
color14 0x5485b6

## Extra colors
color16 0xb45a3c
color17 0xbd5187
color18 0x292424
color19 0x585050
color20 0x7e7777
color21 0xe7dfdf
