# Base16 Tokyo Night Terminal Light - kermit color config
# Author: Michaël Ball

# Foreground color
foreground         0x4c505e
foreground_bold    0x1a1b26

# Cursor color
cursor             0x1a1b26
cursor_foreground  0xd5d6db

# Background color
background         0xd5d6db

# Color palette (16)
## Black, Gray, Silver, White
color0  0xd5d6db
color8  0x9699a3
color7  0x4c505e
color15 0x1a1b26

## Red
color1  0x8c4351
color9  0x8c4351

## Green
color2  0x33635c
color10 0x33635c

## Yellow
color3  0x8f5e15
color11 0x8f5e15

## Blue
color4  0x34548a
color12 0x34548a

## Purple
color5  0x5a4a78
color13 0x5a4a78

## Teal
color6  0x0f4b6e
color14 0x0f4b6e

## Extra colors
color16 0x965027
color17 0x655259
color18 0xcbccd1
color19 0xdfe0e5
color20 0x4c505e
color21 0x1a1b26
