# Base16 XCode Dusk
# Author: Elsa Gonsiorowski (https://github.com/gonsie)

# Foreground color
foreground         0x939599
foreground_bold    0xA9AAAE

# Cursor color
cursor             0xA9AAAE
cursor_foreground  0x282B35

# Background color
background         0x282b35

# Color palette (16)
## Black, Gray, Silver, White
color0  0x282B35
color8  0x686A71
color7  0x939599
color15 0xBEBFC2

## Red
color1  0xB21889
color9  0xB21889

## Green
color2  0xDF0002
color10 0xDF0002

## Yellow
color3  0x438288
color11 0x438288

## Blue
color4  0x790EAD
color12 0x790EAD

## Purple
color5  0xB21889
color13 0xB21889

## Teal
color6  0x00A0BE
color14 0x00A0BE

## Extra colors
color16 0x786DC5
color17 0xC77C48
color18 0x3D4048
color19 0x53555D
color20 0x7E8086
color21 0xA9AAAE
