# Base16 Tokyo City Dark - kermit color config
# Author: Michaël Ball

# Foreground color
foreground         0xd8e2ec
foreground_bold    0xf6f6f8

# Cursor color
cursor             0xf6f6f8
cursor_foreground  0x171d23

# Background color
background         0x171d23

# Color palette (16)
## Black, Gray, Silver, White
color0  0x171d23
color8  0x526270
color7  0xd8e2ec
color15 0xfbfbfd

## Red
color1  0xf7768e
color9  0xf7768e

## Green
color2  0x9ece6a
color10 0x9ece6a

## Yellow
color3  0xb7c5d3
color11 0xb7c5d3

## Blue
color4  0x7aa2f7
color12 0x7aa2f7

## Purple
color5  0xbb9af7
color13 0xbb9af7

## Teal
color6  0x89ddff
color14 0x89ddff

## Extra colors
color16 0xff9e64
color17 0xbb9af7
color18 0x1d252c
color19 0x28323a
color20 0xb7c5d3
color21 0xf6f6f8
