# Base16 Tomorrow Night Eighties - kermit color config
# Author: Chris Kempson (http://chriskempson.com)

# Foreground color
foreground         0xcccccc
foreground_bold    0xe0e0e0

# Cursor color
cursor             0xe0e0e0
cursor_foreground  0x2d2d2d

# Background color
background         0x2d2d2d

# Color palette (16)
## Black, Gray, Silver, White
color0  0x2d2d2d
color8  0x999999
color7  0xcccccc
color15 0xffffff

## Red
color1  0xf2777a
color9  0xf2777a

## Green
color2  0x99cc99
color10 0x99cc99

## Yellow
color3  0xffcc66
color11 0xffcc66

## Blue
color4  0x6699cc
color12 0x6699cc

## Purple
color5  0xcc99cc
color13 0xcc99cc

## Teal
color6  0x66cccc
color14 0x66cccc

## Extra colors
color16 0xf99157
color17 0xa3685a
color18 0x393939
color19 0x515151
color20 0xb4b7b4
color21 0xe0e0e0
