# Base16 Monokai - kermit color config
# Author: Wimer Hazenberg (http://www.monokai.nl)

# Foreground color
foreground         0xf8f8f2
foreground_bold    0xf5f4f1

# Cursor color
cursor             0xf5f4f1
cursor_foreground  0x272822

# Background color
background         0x272822

# Color palette (16)
## Black, Gray, Silver, White
color0  0x272822
color8  0x75715e
color7  0xf8f8f2
color15 0xf9f8f5

## Red
color1  0xf92672
color9  0xf92672

## Green
color2  0xa6e22e
color10 0xa6e22e

## Yellow
color3  0xf4bf75
color11 0xf4bf75

## Blue
color4  0x66d9ef
color12 0x66d9ef

## Purple
color5  0xae81ff
color13 0xae81ff

## Teal
color6  0xa1efe4
color14 0xa1efe4

## Extra colors
color16 0xfd971f
color17 0xcc6633
color18 0x383830
color19 0x49483e
color20 0xa59f85
color21 0xf5f4f1
