# Base16 Snazzy - kermit color config
# Author: Chawye Hsu (https://github.com/h404bi) based on Hyper Snazzy Theme (https://github.com/sindresorhus/hyper-snazzy)

# Foreground color
foreground         0xeff0eb
foreground_bold    0xf1f1f0

# Cursor color
cursor             0xf1f1f0
cursor_foreground  0x1e1f29

# Background color
background         0x1e1f29

# Color palette (16)
## Black, Gray, Silver, White
color0  0x1e1f29
color8  0x78787e
color7  0xeff0eb
color15 0xf1f1f0

## Red
color1  0xff5c57
color9  0xff5c57

## Green
color2  0x5af78e
color10 0x5af78e

## Yellow
color3  0xf3f99d
color11 0xf3f99d

## Blue
color4  0x57c7ff
color12 0x57c7ff

## Purple
color5  0xff6ac1
color13 0xff6ac1

## Teal
color6  0x9aedfe
color14 0x9aedfe

## Extra colors
color16 0xff9f43
color17 0xb2643c
color18 0x34353e
color19 0x4a4b53
color20 0xa5a5a9
color21 0xf1f1f0
