# Base16 Classic Light - k3rmit color config
# Author: Jason Heeris (http://heeris.id.au)

# Foreground color
foreground         0x303030
foreground_bold    0x202020

# Cursor color
cursor             0x202020
cursor_foreground  0xF5F5F5

# Background color
background         0xf5f5f5

# Color palette (16)
## Black, Gray, Silver, White
color0  0xF5F5F5
color8  0xB0B0B0
color7  0x303030
color15 0x151515

## Red
color1  0xAC4142
color9  0xAC4142

## Green
color2  0x90A959
color10 0x90A959

## Yellow
color3  0xF4BF75
color11 0xF4BF75

## Blue
color4  0x6A9FB5
color12 0x6A9FB5

## Purple
color5  0xAA759F
color13 0xAA759F

## Teal
color6  0x75B5AA
color14 0x75B5AA

## Extra colors
color16 0xD28445
color17 0x8F5536
color18 0xE0E0E0
color19 0xD0D0D0
color20 0x505050
color21 0x202020
