# Base16 Darktooth - kermit color config
# Author: Jason Milkins (https://github.com/jasonm23)

# Foreground color
foreground         0xa89984
foreground_bold    0xd5c4a1

# Cursor color
cursor             0xd5c4a1
cursor_foreground  0x1d2021

# Background color
background         0x1d2021

# Color palette (16)
## Black, Gray, Silver, White
color0  0x1d2021
color8  0x665c54
color7  0xa89984
color15 0xfdf4c1

## Red
color1  0xfb543f
color9  0xfb543f

## Green
color2  0x95c085
color10 0x95c085

## Yellow
color3  0xfac03b
color11 0xfac03b

## Blue
color4  0x0d6678
color12 0x0d6678

## Purple
color5  0x8f4673
color13 0x8f4673

## Teal
color6  0x8ba59b
color14 0x8ba59b

## Extra colors
color16 0xfe8625
color17 0xa87322
color18 0x32302f
color19 0x504945
color20 0x928374
color21 0xd5c4a1
