# Base16 Ayu Mirage - kermit color config
# Author: Khue Nguyen &lt;Z5483Y@gmail.com&gt;

# Foreground color
foreground         0xcccac2
foreground_bold    0xd9d7ce

# Cursor color
cursor             0xd9d7ce
cursor_foreground  0x171b24

# Background color
background         0x171b24

# Color palette (16)
## Black, Gray, Silver, White
color0  0x171b24
color8  0x707a8c
color7  0xcccac2
color15 0xf3f4f5

## Red
color1  0xf28779
color9  0xf28779

## Green
color2  0xd5ff80
color10 0xd5ff80

## Yellow
color3  0xffd173
color11 0xffd173

## Blue
color4  0x5ccfe6
color12 0x5ccfe6

## Purple
color5  0xd4bfff
color13 0xd4bfff

## Teal
color6  0x95e6cb
color14 0x95e6cb

## Extra colors
color16 0xffad66
color17 0xf29e74
color18 0x1f2430
color19 0x242936
color20 0x8a9199
color21 0xd9d7ce
