# Base16 Catppuccin Mocha - kermit color config
# Author: https://github.com/catppuccin/catppuccin

# Foreground color
foreground         0xcdd6f4
foreground_bold    0xf5e0dc

# Cursor color
cursor             0xf5e0dc
cursor_foreground  0x1e1e2e

# Background color
background         0x1e1e2e

# Color palette (16)
## Black, Gray, Silver, White
color0  0x1e1e2e
color8  0x45475a
color7  0xcdd6f4
color15 0xb4befe

## Red
color1  0xf38ba8
color9  0xf38ba8

## Green
color2  0xa6e3a1
color10 0xa6e3a1

## Yellow
color3  0xf9e2af
color11 0xf9e2af

## Blue
color4  0x89b4fa
color12 0x89b4fa

## Purple
color5  0xcba6f7
color13 0xcba6f7

## Teal
color6  0x94e2d5
color14 0x94e2d5

## Extra colors
color16 0xfab387
color17 0xf2cdcd
color18 0x181825
color19 0x313244
color20 0x585b70
color21 0xf5e0dc
