# Base16 Grayscale Dark - kermit color config
# Author: Alexandre Gavioli (https://github.com/Alexx2/)

# Foreground color
foreground         0xb9b9b9
foreground_bold    0xe3e3e3

# Cursor color
cursor             0xe3e3e3
cursor_foreground  0x101010

# Background color
background         0x101010

# Color palette (16)
## Black, Gray, Silver, White
color0  0x101010
color8  0x525252
color7  0xb9b9b9
color15 0xf7f7f7

## Red
color1  0x7c7c7c
color9  0x7c7c7c

## Green
color2  0x8e8e8e
color10 0x8e8e8e

## Yellow
color3  0xa0a0a0
color11 0xa0a0a0

## Blue
color4  0x686868
color12 0x686868

## Purple
color5  0x747474
color13 0x747474

## Teal
color6  0x868686
color14 0x868686

## Extra colors
color16 0x999999
color17 0x5e5e5e
color18 0x252525
color19 0x464646
color20 0xababab
color21 0xe3e3e3
