# Base16 Moonlight - kermit color config
# Author: Jeremy Swinarton (https://github.com/jswinarton)

# Foreground color
foreground         0xa3ace1
foreground_bold    0xb4a4f4

# Cursor color
cursor             0xb4a4f4
cursor_foreground  0x212337

# Background color
background         0x212337

# Color palette (16)
## Black, Gray, Silver, White
color0  0x212337
color8  0x748cd6
color7  0xa3ace1
color15 0xef43fa

## Red
color1  0xff5370
color9  0xff5370

## Green
color2  0x2df4c0
color10 0x2df4c0

## Yellow
color3  0xffc777
color11 0xffc777

## Blue
color4  0x40ffff
color12 0x40ffff

## Purple
color5  0xb994f1
color13 0xb994f1

## Teal
color6  0x04d1f9
color14 0x04d1f9

## Extra colors
color16 0xf67f81
color17 0xecb2f0
color18 0x403c64
color19 0x596399
color20 0xa1abe0
color21 0xb4a4f4
