# Base16 Horizon Terminal Light - kermit color config
# Author: Michaël Ball (http://github.com/michael-ball/)

# Foreground color
foreground         0x403c3d
foreground_bold    0x302c2d

# Cursor color
cursor             0x302c2d
cursor_foreground  0xfdf0ed

# Background color
background         0xfdf0ed

# Color palette (16)
## Black, Gray, Silver, White
color0  0xfdf0ed
color8  0xbdb3b1
color7  0x403c3d
color15 0x201c1d

## Red
color1  0xe95678
color9  0xe95678

## Green
color2  0x29d398
color10 0x29d398

## Yellow
color3  0xfadad1
color11 0xfadad1

## Blue
color4  0x26bbd9
color12 0x26bbd9

## Purple
color5  0xee64ac
color13 0xee64ac

## Teal
color6  0x59e1e3
color14 0x59e1e3

## Extra colors
color16 0xf9cec3
color17 0xf9cbbe
color18 0xfadad1
color19 0xf9cbbe
color20 0x948c8a
color21 0x302c2d
