# Base16 Circus - k3rmit color config
# Author: Stephan Boyer (https://github.com/stepchowfun) and Esther Wang (https://github.com/ewang12)

# Foreground color
foreground         0xa7a7a7
foreground_bold    0x808080

# Cursor color
cursor             0x808080
cursor_foreground  0x191919

# Background color
background         0x191919

# Color palette (16)
## Black, Gray, Silver, White
color0  0x191919
color8  0x5f5a60
color7  0xa7a7a7
color15 0xffffff

## Red
color1  0xdc657d
color9  0xdc657d

## Green
color2  0x84b97c
color10 0x84b97c

## Yellow
color3  0xc3ba63
color11 0xc3ba63

## Blue
color4  0x639ee4
color12 0x639ee4

## Purple
color5  0xb888e2
color13 0xb888e2

## Teal
color6  0x4bb1a7
color14 0x4bb1a7

## Extra colors
color16 0x4bb1a7
color17 0xb888e2
color18 0x202020
color19 0x303030
color20 0x505050
color21 0x808080
