# Base16 OceanicNext - kermit color config
# Author: https://github.com/voronianski/oceanic-next-color-scheme

# Foreground color
foreground         0xc0c5ce
foreground_bold    0xcdd3de

# Cursor color
cursor             0xcdd3de
cursor_foreground  0x1b2b34

# Background color
background         0x1b2b34

# Color palette (16)
## Black, Gray, Silver, White
color0  0x1b2b34
color8  0x65737e
color7  0xc0c5ce
color15 0xd8dee9

## Red
color1  0xec5f67
color9  0xec5f67

## Green
color2  0x99c794
color10 0x99c794

## Yellow
color3  0xfac863
color11 0xfac863

## Blue
color4  0x6699cc
color12 0x6699cc

## Purple
color5  0xc594c5
color13 0xc594c5

## Teal
color6  0x5fb3b3
color14 0x5fb3b3

## Extra colors
color16 0xf99157
color17 0xab7967
color18 0x343d46
color19 0x4f5b66
color20 0xa7adba
color21 0xcdd3de
