# Base16 Gruvbox Material Dark, Hard - kermit color config
# Author: Mayush Kumar (https://github.com/MayushKumar), sainnhe (https://github.com/sainnhe/gruvbox-material-vscode)

# Foreground color
foreground         0xddc7a1
foreground_bold    0xebdbb2

# Cursor color
cursor             0xebdbb2
cursor_foreground  0x202020

# Background color
background         0x202020

# Color palette (16)
## Black, Gray, Silver, White
color0  0x202020
color8  0x5a524c
color7  0xddc7a1
color15 0xfbf1c7

## Red
color1  0xea6962
color9  0xea6962

## Green
color2  0xa9b665
color10 0xa9b665

## Yellow
color3  0xd8a657
color11 0xd8a657

## Blue
color4  0x7daea3
color12 0x7daea3

## Purple
color5  0xd3869b
color13 0xd3869b

## Teal
color6  0x89b482
color14 0x89b482

## Extra colors
color16 0xe78a4e
color17 0xbd6f3e
color18 0x2a2827
color19 0x504945
color20 0xbdae93
color21 0xebdbb2
