# Base16 Summerfruit Light - kermit color config
# Author: Christopher Corley (http://christop.club/)

# Foreground color
foreground         0x101010
foreground_bold    0x151515

# Cursor color
cursor             0x151515
cursor_foreground  0xFFFFFF

# Background color
background         0xffffff

# Color palette (16)
## Black, Gray, Silver, White
color0  0xFFFFFF
color8  0xB0B0B0
color7  0x101010
color15 0x202020

## Red
color1  0xFF0086
color9  0xFF0086

## Green
color2  0x00C918
color10 0x00C918

## Yellow
color3  0xABA800
color11 0xABA800

## Blue
color4  0x3777E6
color12 0x3777E6

## Purple
color5  0xAD00A1
color13 0xAD00A1

## Teal
color6  0x1FAAAA
color14 0x1FAAAA

## Extra colors
color16 0xFD8900
color17 0xCC6633
color18 0xE0E0E0
color19 0xD0D0D0
color20 0x000000
color21 0x151515
