# Base16 Primer Dark - kermit color config
# Author: Jimmy Lin

# Foreground color
foreground         0xb1bac4
foreground_bold    0xc9d1d9

# Cursor color
cursor             0xc9d1d9
cursor_foreground  0x010409

# Background color
background         0x010409

# Color palette (16)
## Black, Gray, Silver, White
color0  0x010409
color8  0x484f58
color7  0xb1bac4
color15 0xf0f6fc

## Red
color1  0xff7b72
color9  0xff7b72

## Green
color2  0x3fb950
color10 0x3fb950

## Yellow
color3  0xd29922
color11 0xd29922

## Blue
color4  0x58a6ff
color12 0x58a6ff

## Purple
color5  0xf778ba
color13 0xf778ba

## Teal
color6  0xa5d6ff
color14 0xa5d6ff

## Extra colors
color16 0xf0883e
color17 0xbd561d
color18 0x21262d
color19 0x30363d
color20 0x8b949e
color21 0xc9d1d9
