# Base16 Edge Dark - kermit color config
# Author: cjayross (https://github.com/cjayross)

# Foreground color
foreground         0xb7bec9
foreground_bold    0xd390e7

# Cursor color
cursor             0xd390e7
cursor_foreground  0x262729

# Background color
background         0x262729

# Color palette (16)
## Black, Gray, Silver, White
color0  0x262729
color8  0x3e4249
color7  0xb7bec9
color15 0x3e4249

## Red
color1  0xe77171
color9  0xe77171

## Green
color2  0xa1bf78
color10 0xa1bf78

## Yellow
color3  0xdbb774
color11 0xdbb774

## Blue
color4  0x73b3e7
color12 0x73b3e7

## Purple
color5  0xd390e7
color13 0xd390e7

## Teal
color6  0x5ebaa5
color14 0x5ebaa5

## Extra colors
color16 0xe77171
color17 0x5ebaa5
color18 0x88909f
color19 0xb7bec9
color20 0x73b3e7
color21 0xd390e7
