# Base16 Shapeshifter - k3rmit color config
# Author: Tyler Benziger (http://tybenz.com)

# Foreground color
foreground         0x102015
foreground_bold    0x040404

# Cursor color
cursor             0x040404
cursor_foreground  0xf9f9f9

# Background color
background         0xf9f9f9

# Color palette (16)
## Black, Gray, Silver, White
color0  0xf9f9f9
color8  0x555555
color7  0x102015
color15 0x000000

## Red
color1  0xe92f2f
color9  0xe92f2f

## Green
color2  0x0ed839
color10 0x0ed839

## Yellow
color3  0xdddd13
color11 0xdddd13

## Blue
color4  0x3b48e3
color12 0x3b48e3

## Purple
color5  0xf996e2
color13 0xf996e2

## Teal
color6  0x23edda
color14 0x23edda

## Extra colors
color16 0xe09448
color17 0x69542d
color18 0xe0e0e0
color19 0xababab
color20 0x343434
color21 0x040404
