# Base16 Summerfruit Light - kermit color config
# Author: Christopher Corley (http://christop.club/)

# Foreground color
foreground         0x101010
foreground_bold    0x151515

# Cursor color
cursor             0x151515
cursor_foreground  0xffffff

# Background color
background         0xffffff

# Color palette (16)
## Black, Gray, Silver, White
color0  0xffffff
color8  0xb0b0b0
color7  0x101010
color15 0x202020

## Red
color1  0xff0086
color9  0xff0086

## Green
color2  0x00c918
color10 0x00c918

## Yellow
color3  0xaba800
color11 0xaba800

## Blue
color4  0x3777e6
color12 0x3777e6

## Purple
color5  0xad00a1
color13 0xad00a1

## Teal
color6  0x1faaaa
color14 0x1faaaa

## Extra colors
color16 0xfd8900
color17 0xcc6633
color18 0xe0e0e0
color19 0xd0d0d0
color20 0x000000
color21 0x151515
