# Base16 Google Light
# Author: Seth Wright (http://sethawright.com)

# Foreground color
foreground         0x373b41
foreground_bold    0x282a2e

# Cursor color
cursor             0x282a2e
cursor_foreground  0xffffff

# Background color
background         0xffffff

# Color palette (16)
## Black, Gray, Silver, White
color0  0xffffff
color8  0xb4b7b4
color7  0x373b41
color15 0x1d1f21

## Red
color1  0xCC342B
color9  0xCC342B

## Green
color2  0x198844
color10 0x198844

## Yellow
color3  0xFBA922
color11 0xFBA922

## Blue
color4  0x3971ED
color12 0x3971ED

## Purple
color5  0xA36AC7
color13 0xA36AC7

## Teal
color6  0x3971ED
color14 0x3971ED

## Extra colors
color16 0xF96A38
color17 0x3971ED
color18 0xe0e0e0
color19 0xc5c8c6
color20 0x969896
color21 0x282a2e
