# Base16 Gotham - kermit color config
# Author: Andrea Leopardi (arranged by Brett Jones)

# Foreground color
foreground         0x599cab
foreground_bold    0x99d1ce

# Cursor color
cursor             0x99d1ce
cursor_foreground  0x0c1014

# Background color
background         0x0c1014

# Color palette (16)
## Black, Gray, Silver, White
color0  0x0c1014
color8  0x0a3749
color7  0x599cab
color15 0xd3ebe9

## Red
color1  0xc23127
color9  0xc23127

## Green
color2  0x33859e
color10 0x33859e

## Yellow
color3  0xedb443
color11 0xedb443

## Blue
color4  0x195466
color12 0x195466

## Purple
color5  0x888ca6
color13 0x888ca6

## Teal
color6  0x2aa889
color14 0x2aa889

## Extra colors
color16 0xd26937
color17 0x4e5166
color18 0x11151c
color19 0x091f2e
color20 0x245361
color21 0x99d1ce
