# Base16 Atelier Seaside - kermit color config
# Author: Bram de Haan (http://atelierbramdehaan.nl)

# Foreground color
foreground         0x8ca68c
foreground_bold    0xcfe8cf

# Cursor color
cursor             0xcfe8cf
cursor_foreground  0x131513

# Background color
background         0x131513

# Color palette (16)
## Black, Gray, Silver, White
color0  0x131513
color8  0x687d68
color7  0x8ca68c
color15 0xf4fbf4

## Red
color1  0xe6193c
color9  0xe6193c

## Green
color2  0x29a329
color10 0x29a329

## Yellow
color3  0x98981b
color11 0x98981b

## Blue
color4  0x3d62f5
color12 0x3d62f5

## Purple
color5  0xad2bee
color13 0xad2bee

## Teal
color6  0x1999b3
color14 0x1999b3

## Extra colors
color16 0x87711d
color17 0xe619c3
color18 0x242924
color19 0x5e6e5e
color20 0x809980
color21 0xcfe8cf
