# Base16 Solar Flare - k3rmit color config
# Author: Chuck Harmston (https://chuck.harmston.ch)

# Foreground color
foreground         0xA6AFB8
foreground_bold    0xE8E9ED

# Cursor color
cursor             0xE8E9ED
cursor_foreground  0x18262F

# Background color
background         0x18262f

# Color palette (16)
## Black, Gray, Silver, White
color0  0x18262F
color8  0x667581
color7  0xA6AFB8
color15 0xF5F7FA

## Red
color1  0xEF5253
color9  0xEF5253

## Green
color2  0x7CC844
color10 0x7CC844

## Yellow
color3  0xE4B51C
color11 0xE4B51C

## Blue
color4  0x33B5E1
color12 0x33B5E1

## Purple
color5  0xA363D5
color13 0xA363D5

## Teal
color6  0x52CBB0
color14 0x52CBB0

## Extra colors
color16 0xE66B2B
color17 0xD73C9A
color18 0x222E38
color19 0x586875
color20 0x85939E
color21 0xE8E9ED
