# Base16 Everforest - kermit color config
# Author: Sainnhe Park (https://github.com/sainnhe)

# Foreground color
foreground         0xd3c6aa
foreground_bold    0xe6e2cc

# Cursor color
cursor             0xe6e2cc
cursor_foreground  0x2d353b

# Background color
background         0x2d353b

# Color palette (16)
## Black, Gray, Silver, White
color0  0x2d353b
color8  0x859289
color7  0xd3c6aa
color15 0xfdf6e3

## Red
color1  0xe67e80
color9  0xe67e80

## Green
color2  0xa7c080
color10 0xa7c080

## Yellow
color3  0xdbbc7f
color11 0xdbbc7f

## Blue
color4  0x7fbbb3
color12 0x7fbbb3

## Purple
color5  0xd699b6
color13 0xd699b6

## Teal
color6  0x83c092
color14 0x83c092

## Extra colors
color16 0xe69875
color17 0x9da9a0
color18 0x343f44
color19 0x475258
color20 0x9da9a0
color21 0xe6e2cc
