# Base16 Zenburn - k3rmit color config
# Author: elnawe

# Foreground color
foreground         0xdcdccc
foreground_bold    0xc0c0c0

# Cursor color
cursor             0xc0c0c0
cursor_foreground  0x3f3f3f

# Background color
background         0x3f3f3f

# Color palette (16)
## Black, Gray, Silver, White
color0  0x3f3f3f
color8  0x4f4f4f
color7  0xdcdccc
color15 0xffffff

## Red
color1  0xdca3a3
color9  0xdca3a3

## Green
color2  0x5f7f5f
color10 0x5f7f5f

## Yellow
color3  0xe0cf9f
color11 0xe0cf9f

## Blue
color4  0x7cb8bb
color12 0x7cb8bb

## Purple
color5  0xdc8cc3
color13 0xdc8cc3

## Teal
color6  0x93e0e3
color14 0x93e0e3

## Extra colors
color16 0xdfaf8f
color17 0x000000
color18 0x404040
color19 0x606060
color20 0x808080
color21 0xc0c0c0
