# Base16 Catppuccin Latte - kermit color config
# Author: https://github.com/catppuccin/catppuccin

# Foreground color
foreground         0x4c4f69
foreground_bold    0xdc8a78

# Cursor color
cursor             0xdc8a78
cursor_foreground  0xeff1f5

# Background color
background         0xeff1f5

# Color palette (16)
## Black, Gray, Silver, White
color0  0xeff1f5
color8  0xbcc0cc
color7  0x4c4f69
color15 0x7287fd

## Red
color1  0xd20f39
color9  0xd20f39

## Green
color2  0x40a02b
color10 0x40a02b

## Yellow
color3  0xdf8e1d
color11 0xdf8e1d

## Blue
color4  0x1e66f5
color12 0x1e66f5

## Purple
color5  0x8839ef
color13 0x8839ef

## Teal
color6  0x179299
color14 0x179299

## Extra colors
color16 0xfe640b
color17 0xdd7878
color18 0xe6e9ef
color19 0xccd0da
color20 0xacb0be
color21 0xdc8a78
