# Base16 Spacemacs
# Author: Nasser Alshammari (https://github.com/nashamri/spacemacs-theme)

# Foreground color
foreground         0xa3a3a3
foreground_bold    0xe8e8e8

# Cursor color
cursor             0xe8e8e8
cursor_foreground  0x1f2022

# Background color
background         0x1f2022

# Color palette (16)
## Black, Gray, Silver, White
color0  0x1f2022
color8  0x585858
color7  0xa3a3a3
color15 0xf8f8f8

## Red
color1  0xf2241f
color9  0xf2241f

## Green
color2  0x67b11d
color10 0x67b11d

## Yellow
color3  0xb1951d
color11 0xb1951d

## Blue
color4  0x4f97d7
color12 0x4f97d7

## Purple
color5  0xa31db1
color13 0xa31db1

## Teal
color6  0x2d9574
color14 0x2d9574

## Extra colors
color16 0xffa500
color17 0xb03060
color18 0x282828
color19 0x444155
color20 0xb8b8b8
color21 0xe8e8e8
