# Base16 Ayu Dark - kermit color config
# Author: Khue Nguyen &lt;Z5483Y@gmail.com&gt;

# Foreground color
foreground         0xe6e1cf
foreground_bold    0xe6e1cf

# Cursor color
cursor             0xe6e1cf
cursor_foreground  0x0f1419

# Background color
background         0x0f1419

# Color palette (16)
## Black, Gray, Silver, White
color0  0x0f1419
color8  0x3e4b59
color7  0xe6e1cf
color15 0xf3f4f5

## Red
color1  0xf07178
color9  0xf07178

## Green
color2  0xb8cc52
color10 0xb8cc52

## Yellow
color3  0xffb454
color11 0xffb454

## Blue
color4  0x59c2ff
color12 0x59c2ff

## Purple
color5  0xd2a6ff
color13 0xd2a6ff

## Teal
color6  0x95e6cb
color14 0x95e6cb

## Extra colors
color16 0xff8f40
color17 0xe6b673
color18 0x131721
color19 0x272d38
color20 0xbfbdb6
color21 0xe6e1cf
