# Base16 Google Dark - kermit color config
# Author: Seth Wright (http://sethawright.com)

# Foreground color
foreground         0xc5c8c6
foreground_bold    0xe0e0e0

# Cursor color
cursor             0xe0e0e0
cursor_foreground  0x1d1f21

# Background color
background         0x1d1f21

# Color palette (16)
## Black, Gray, Silver, White
color0  0x1d1f21
color8  0x969896
color7  0xc5c8c6
color15 0xffffff

## Red
color1  0xcc342b
color9  0xcc342b

## Green
color2  0x198844
color10 0x198844

## Yellow
color3  0xfba922
color11 0xfba922

## Blue
color4  0x3971ed
color12 0x3971ed

## Purple
color5  0xa36ac7
color13 0xa36ac7

## Teal
color6  0x3971ed
color14 0x3971ed

## Extra colors
color16 0xf96a38
color17 0x3971ed
color18 0x282a2e
color19 0x373b41
color20 0xb4b7b4
color21 0xe0e0e0
