# Base16 Classic Light - kermit color config
# Author: Jason Heeris (http://heeris.id.au)

# Foreground color
foreground         0x303030
foreground_bold    0x202020

# Cursor color
cursor             0x202020
cursor_foreground  0xf5f5f5

# Background color
background         0xf5f5f5

# Color palette (16)
## Black, Gray, Silver, White
color0  0xf5f5f5
color8  0xb0b0b0
color7  0x303030
color15 0x151515

## Red
color1  0xac4142
color9  0xac4142

## Green
color2  0x90a959
color10 0x90a959

## Yellow
color3  0xf4bf75
color11 0xf4bf75

## Blue
color4  0x6a9fb5
color12 0x6a9fb5

## Purple
color5  0xaa759f
color13 0xaa759f

## Teal
color6  0x75b5aa
color14 0x75b5aa

## Extra colors
color16 0xd28445
color17 0x8f5536
color18 0xe0e0e0
color19 0xd0d0d0
color20 0x505050
color21 0x202020
