# Base16 Atlas - kermit color config
# Author: Alex Lende (https://ajlende.com)

# Foreground color
foreground         0xa1a19a
foreground_bold    0xe6e6dc

# Cursor color
cursor             0xe6e6dc
cursor_foreground  0x002635

# Background color
background         0x002635

# Color palette (16)
## Black, Gray, Silver, White
color0  0x002635
color8  0x6c8b91
color7  0xa1a19a
color15 0xfafaf8

## Red
color1  0xff5a67
color9  0xff5a67

## Green
color2  0x7fc06e
color10 0x7fc06e

## Yellow
color3  0xffcc1b
color11 0xffcc1b

## Blue
color4  0x14747e
color12 0x14747e

## Purple
color5  0x9a70a4
color13 0x9a70a4

## Teal
color6  0x5dd7b9
color14 0x5dd7b9

## Extra colors
color16 0xf08e48
color17 0xc43060
color18 0x00384d
color19 0x517f8d
color20 0x869696
color21 0xe6e6dc
