# Base16 Flat - k3rmit color config
# Author: Chris Kempson (http://chriskempson.com)

# Foreground color
foreground         0xe0e0e0
foreground_bold    0xf5f5f5

# Cursor color
cursor             0xf5f5f5
cursor_foreground  0x2C3E50

# Background color
background         0x2c3e50

# Color palette (16)
## Black, Gray, Silver, White
color0  0x2C3E50
color8  0x95A5A6
color7  0xe0e0e0
color15 0xECF0F1

## Red
color1  0xE74C3C
color9  0xE74C3C

## Green
color2  0x2ECC71
color10 0x2ECC71

## Yellow
color3  0xF1C40F
color11 0xF1C40F

## Blue
color4  0x3498DB
color12 0x3498DB

## Purple
color5  0x9B59B6
color13 0x9B59B6

## Teal
color6  0x1ABC9C
color14 0x1ABC9C

## Extra colors
color16 0xE67E22
color17 0xbe643c
color18 0x34495E
color19 0x7F8C8D
color20 0xBDC3C7
color21 0xf5f5f5
