# Base16 Gruber - kermit color config
# Author: Patel, Nimai &lt;nimai.m.patel@gmail.com&gt;, colors from www.github.com/rexim/gruber-darker-theme

# Foreground color
foreground         0xf4f4ff
foreground_bold    0xf5f5f5

# Cursor color
cursor             0xf5f5f5
cursor_foreground  0x181818

# Background color
background         0x181818

# Color palette (16)
## Black, Gray, Silver, White
color0  0x181818
color8  0x52494e
color7  0xf4f4ff
color15 0xe4e4ef

## Red
color1  0xf43841
color9  0xf43841

## Green
color2  0x73c936
color10 0x73c936

## Yellow
color3  0xffdd33
color11 0xffdd33

## Blue
color4  0x96a6c8
color12 0x96a6c8

## Purple
color5  0x9e95c7
color13 0x9e95c7

## Teal
color6  0x95a99f
color14 0x95a99f

## Extra colors
color16 0xc73c3f
color17 0xcc8c3c
color18 0x453d41
color19 0x484848
color20 0xe4e4ef
color21 0xf5f5f5
