# Base16 Solar Flare Light - kermit color config
# Author: Chuck Harmston (https://chuck.harmston.ch)

# Foreground color
foreground         0x586875
foreground_bold    0x222e38

# Cursor color
cursor             0x222e38
cursor_foreground  0xf5f7fa

# Background color
background         0xf5f7fa

# Color palette (16)
## Black, Gray, Silver, White
color0  0xf5f7fa
color8  0x85939e
color7  0x586875
color15 0x18262f

## Red
color1  0xef5253
color9  0xef5253

## Green
color2  0x7cc844
color10 0x7cc844

## Yellow
color3  0xe4b51c
color11 0xe4b51c

## Blue
color4  0x33b5e1
color12 0x33b5e1

## Purple
color5  0xa363d5
color13 0xa363d5

## Teal
color6  0x52cbb0
color14 0x52cbb0

## Extra colors
color16 0xe66b2b
color17 0xd73c9a
color18 0xe8e9ed
color19 0xa6afb8
color20 0x667581
color21 0x222e38
