# Base16 Sakura - kermit color config
# Author: Misterio77 (http://github.com/Misterio77)

# Foreground color
foreground         0x564448
foreground_bold    0x42383a

# Cursor color
cursor             0x42383a
cursor_foreground  0xfeedf3

# Background color
background         0xfeedf3

# Color palette (16)
## Black, Gray, Silver, White
color0  0xfeedf3
color8  0x755f64
color7  0x564448
color15 0x33292b

## Red
color1  0xdf2d52
color9  0xdf2d52

## Green
color2  0x2e916d
color10 0x2e916d

## Yellow
color3  0xc29461
color11 0xc29461

## Blue
color4  0x006e93
color12 0x006e93

## Purple
color5  0x5e2180
color13 0x5e2180

## Teal
color6  0x1d8991
color14 0x1d8991

## Extra colors
color16 0xf6661e
color17 0xba0d35
color18 0xf8e2e7
color19 0xe0ccd1
color20 0x665055
color21 0x42383a
