# Base16 Atelier Heath
# Author: Bram de Haan (http://atelierbramdehaan.nl)

# Foreground color
foreground         0xab9bab
foreground_bold    0xd8cad8

# Cursor color
cursor             0xd8cad8
cursor_foreground  0x1b181b

# Background color
background         0x1b181b

# Color palette (16)
## Black, Gray, Silver, White
color0  0x1b181b
color8  0x776977
color7  0xab9bab
color15 0xf7f3f7

## Red
color1  0xca402b
color9  0xca402b

## Green
color2  0x918b3b
color10 0x918b3b

## Yellow
color3  0xbb8a35
color11 0xbb8a35

## Blue
color4  0x516aec
color12 0x516aec

## Purple
color5  0x7b59c0
color13 0x7b59c0

## Teal
color6  0x159393
color14 0x159393

## Extra colors
color16 0xa65926
color17 0xcc33cc
color18 0x292329
color19 0x695d69
color20 0x9e8f9e
color21 0xd8cad8
