# Base16 Cupertino - k3rmit color config
# Author: Defman21

# Foreground color
foreground         0x404040
foreground_bold    0x404040

# Cursor color
cursor             0x404040
cursor_foreground  0xffffff

# Background color
background         0xffffff

# Color palette (16)
## Black, Gray, Silver, White
color0  0xffffff
color8  0x808080
color7  0x404040
color15 0x5e5e5e

## Red
color1  0xc41a15
color9  0xc41a15

## Green
color2  0x007400
color10 0x007400

## Yellow
color3  0x826b28
color11 0x826b28

## Blue
color4  0x0000ff
color12 0x0000ff

## Purple
color5  0xa90d91
color13 0xa90d91

## Teal
color6  0x318495
color14 0x318495

## Extra colors
color16 0xeb8500
color17 0x826b28
color18 0xc0c0c0
color19 0xc0c0c0
color20 0x808080
color21 0x404040
