# Scheme name: Deep Oceanic Next
# Scheme system: base24
# Scheme author: spearkkk (https://github.com/spearkkk/deep-oceanic-next)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xdce3e8
foreground_bold    0xe6ebf0

# Cursor color
cursor             0xe6ebf0
cursor_foreground  0x003b46

# Background color
background         0x003b46

color0 0x003b46 # base00 - Black
color1 0xe6454b # base08 - Red
color2 0x85b57a # base0B - Green
color3 0xffcc66 # base0A - Yellow
color4 0x3a82e6 # base0D - Blue
color5 0x8c4de6 # base0E - Magenta
color6 0x4da6a6 # base0C - Cyan
color7 0xdce3e8 # base05 - White
color8 0x006374 # base02 - Bright Black
color9 0x # base12 - Bright Red
color10 0x99d8a0 # base14 - Bright Green
color11 0xffdd80 # base13 - Bright Yellow
color12 0x4da6ff # base16 - Bright Blue
color13 0xa366ff # base17 - Bright Magenta
color14 0x66cccc # base15 - Bright Cyan
color15 0xf0f5f5 # base07 - Bright White

## Extra colors
color16 0xff6a4b # base09
color17 0xe673a3 # base0F
color18 0x004f5e # base01
color19 0x006374 # base02
color20 0x0093a3 # base04
color21 0xe6ebf0 # base06
