# Base16 Decaf - kermit color config
# Author: Alex Mirrington (https://github.com/alexmirrington)

# Foreground color
foreground         0xcccccc
foreground_bold    0xe0e0e0

# Cursor color
cursor             0xe0e0e0
cursor_foreground  0x2d2d2d

# Background color
background         0x2d2d2d

# Color palette (16)
## Black, Gray, Silver, White
color0  0x2d2d2d
color8  0x777777
color7  0xcccccc
color15 0xffffff

## Red
color1  0xff7f7b
color9  0xff7f7b

## Green
color2  0xbeda78
color10 0xbeda78

## Yellow
color3  0xffd67c
color11 0xffd67c

## Blue
color4  0x90bee1
color12 0x90bee1

## Purple
color5  0xefb3f7
color13 0xefb3f7

## Teal
color6  0xbed6ff
color14 0xbed6ff

## Extra colors
color16 0xffbf70
color17 0xff93b3
color18 0x393939
color19 0x515151
color20 0xb4b7b4
color21 0xe0e0e0
