# Base16 Mountain - kermit color config
# Author: gnsfujiwara (https://github.com/gnsfujiwara)

# Foreground color
foreground         0xcacaca
foreground_bold    0xe7e7e7

# Cursor color
cursor             0xe7e7e7
cursor_foreground  0x0f0f0f

# Background color
background         0x0f0f0f

# Color palette (16)
## Black, Gray, Silver, White
color0  0x0f0f0f
color8  0x4c4c4c
color7  0xcacaca
color15 0xf0f0f0

## Red
color1  0xac8a8c
color9  0xac8a8c

## Green
color2  0x8aac8b
color10 0x8aac8b

## Yellow
color3  0xaca98a
color11 0xaca98a

## Blue
color4  0x8f8aac
color12 0x8f8aac

## Purple
color5  0xac8aac
color13 0xac8aac

## Teal
color6  0x8aabac
color14 0x8aabac

## Extra colors
color16 0xceb188
color17 0xac8a8c
color18 0x191919
color19 0x262626
color20 0xac8a8c
color21 0xe7e7e7
