# Base16 PaperColor Light - kermit color config
# Author: Jon Leopard (http://github.com/jonleopard), based on PaperColor Theme (https://github.com/NLKNguyen/papercolor-theme)

# Foreground color
foreground         0x444444
foreground_bold    0x005f87

# Cursor color
cursor             0x005f87
cursor_foreground  0xeeeeee

# Background color
background         0xeeeeee

# Color palette (16)
## Black, Gray, Silver, White
color0  0xeeeeee
color8  0x5f8700
color7  0x444444
color15 0x878787

## Red
color1  0xbcbcbc
color9  0xbcbcbc

## Green
color2  0x8700af
color10 0x8700af

## Yellow
color3  0xd70087
color11 0xd70087

## Blue
color4  0xd75f00
color12 0xd75f00

## Purple
color5  0x005faf
color13 0x005faf

## Teal
color6  0xd75f00
color14 0xd75f00

## Extra colors
color16 0xd70000
color17 0x005f87
color18 0xaf0000
color19 0x008700
color20 0x0087af
color21 0x005f87
