# Base16 Silk Light - kermit color config
# Author: Gabriel Fontes (https://github.com/Misterio77)

# Foreground color
foreground         0x385156
foreground_bold    0x0e3c46

# Cursor color
cursor             0x0e3c46
cursor_foreground  0xe9f1ef

# Background color
background         0xe9f1ef

# Color palette (16)
## Black, Gray, Silver, White
color0  0xe9f1ef
color8  0x5c787b
color7  0x385156
color15 0xd2faff

## Red
color1  0xcf432e
color9  0xcf432e

## Green
color2  0x6ca38c
color10 0x6ca38c

## Yellow
color3  0xcfad25
color11 0xcfad25

## Blue
color4  0x39aac9
color12 0x39aac9

## Purple
color5  0x6e6582
color13 0x6e6582

## Teal
color6  0x329ca2
color14 0x329ca2

## Extra colors
color16 0xd27f46
color17 0x865369
color18 0xccd4d3
color19 0x90b7b6
color20 0x4b5b5f
color21 0x0e3c46
