# Base16 Materia - k3rmit color config
# Author: Defman21

# Foreground color
foreground         0xCDD3DE
foreground_bold    0xD5DBE5

# Cursor color
cursor             0xD5DBE5
cursor_foreground  0x263238

# Background color
background         0x263238

# Color palette (16)
## Black, Gray, Silver, White
color0  0x263238
color8  0x707880
color7  0xCDD3DE
color15 0xFFFFFF

## Red
color1  0xEC5F67
color9  0xEC5F67

## Green
color2  0x8BD649
color10 0x8BD649

## Yellow
color3  0xFFCC00
color11 0xFFCC00

## Blue
color4  0x89DDFF
color12 0x89DDFF

## Purple
color5  0x82AAFF
color13 0x82AAFF

## Teal
color6  0x80CBC4
color14 0x80CBC4

## Extra colors
color16 0xEA9560
color17 0xEC5F67
color18 0x2C393F
color19 0x37474F
color20 0xC9CCD3
color21 0xD5DBE5
