# Base16 Solarized Dark - kermit color config
# Author: Ethan Schoonover (modified by aramisgithub)

# Foreground color
foreground         0x93a1a1
foreground_bold    0xeee8d5

# Cursor color
cursor             0xeee8d5
cursor_foreground  0x002b36

# Background color
background         0x002b36

# Color palette (16)
## Black, Gray, Silver, White
color0  0x002b36
color8  0x657b83
color7  0x93a1a1
color15 0xfdf6e3

## Red
color1  0xdc322f
color9  0xdc322f

## Green
color2  0x859900
color10 0x859900

## Yellow
color3  0xb58900
color11 0xb58900

## Blue
color4  0x268bd2
color12 0x268bd2

## Purple
color5  0x6c71c4
color13 0x6c71c4

## Teal
color6  0x2aa198
color14 0x2aa198

## Extra colors
color16 0xcb4b16
color17 0xd33682
color18 0x073642
color19 0x586e75
color20 0x839496
color21 0xeee8d5
