# Base16 Sagelight - kermit color config
# Author: Carter Veldhuizen

# Foreground color
foreground         0x383838
foreground_bold    0x282828

# Cursor color
cursor             0x282828
cursor_foreground  0xf8f8f8

# Background color
background         0xf8f8f8

# Color palette (16)
## Black, Gray, Silver, White
color0  0xf8f8f8
color8  0xb8b8b8
color7  0x383838
color15 0x181818

## Red
color1  0xfa8480
color9  0xfa8480

## Green
color2  0xa0d2c8
color10 0xa0d2c8

## Yellow
color3  0xffdc61
color11 0xffdc61

## Blue
color4  0xa0a7d2
color12 0xa0a7d2

## Purple
color5  0xc8a0d2
color13 0xc8a0d2

## Teal
color6  0xa2d6f5
color14 0xa2d6f5

## Extra colors
color16 0xffaa61
color17 0xd2b2a0
color18 0xe8e8e8
color19 0xd8d8d8
color20 0x585858
color21 0x282828
