# Base16 Atelier Sulphurpool
# Author: Bram de Haan (http://atelierbramdehaan.nl)

# Foreground color
foreground         0x979db4
foreground_bold    0xdfe2f1

# Cursor color
cursor             0xdfe2f1
cursor_foreground  0x202746

# Background color
background         0x202746

# Color palette (16)
## Black, Gray, Silver, White
color0  0x202746
color8  0x6b7394
color7  0x979db4
color15 0xf5f7ff

## Red
color1  0xc94922
color9  0xc94922

## Green
color2  0xac9739
color10 0xac9739

## Yellow
color3  0xc08b30
color11 0xc08b30

## Blue
color4  0x3d8fd1
color12 0x3d8fd1

## Purple
color5  0x6679cc
color13 0x6679cc

## Teal
color6  0x22a2c9
color14 0x22a2c9

## Extra colors
color16 0xc76b29
color17 0x9c637a
color18 0x293256
color19 0x5e6687
color20 0x898ea4
color21 0xdfe2f1
