# Base16 Atelier Lakeside Light - kermit color config
# Author: Bram de Haan (http://atelierbramdehaan.nl)

# Foreground color
foreground         0x516d7b
foreground_bold    0x1f292e

# Cursor color
cursor             0x1f292e
cursor_foreground  0xebf8ff

# Background color
background         0xebf8ff

# Color palette (16)
## Black, Gray, Silver, White
color0  0xebf8ff
color8  0x7195a8
color7  0x516d7b
color15 0x161b1d

## Red
color1  0xd22d72
color9  0xd22d72

## Green
color2  0x568c3b
color10 0x568c3b

## Yellow
color3  0x8a8a0f
color11 0x8a8a0f

## Blue
color4  0x257fad
color12 0x257fad

## Purple
color5  0x6b6bb8
color13 0x6b6bb8

## Teal
color6  0x2d8f6f
color14 0x2d8f6f

## Extra colors
color16 0x935c25
color17 0xb72dd2
color18 0xc1e4f6
color19 0x7ea2b4
color20 0x5a7b8c
color21 0x1f292e
