# Base16 darkmoss - kermit color config
# Author: Gabriel Avanzi (https://github.com/avanzzzi)

# Foreground color
foreground         0xc7c7a5
foreground_bold    0xe3e3c8

# Cursor color
cursor             0xe3e3c8
cursor_foreground  0x171e1f

# Background color
background         0x171e1f

# Color palette (16)
## Black, Gray, Silver, White
color0  0x171e1f
color8  0x555e5f
color7  0xc7c7a5
color15 0xe1eaef

## Red
color1  0xff4658
color9  0xff4658

## Green
color2  0x499180
color10 0x499180

## Yellow
color3  0xfdb11f
color11 0xfdb11f

## Blue
color4  0x498091
color12 0x498091

## Purple
color5  0x9bc0c8
color13 0x9bc0c8

## Teal
color6  0x66d9ef
color14 0x66d9ef

## Extra colors
color16 0xe6db74
color17 0xd27b53
color18 0x252c2d
color19 0x373c3d
color20 0x818f80
color21 0xe3e3c8
