# Base16 Jabuti - kermit color config
# Author: https://github.com/notusknot

# Foreground color
foreground         0xc0cbe3
foreground_bold    0xd9e0ee

# Cursor color
cursor             0xd9e0ee
cursor_foreground  0x292a37

# Background color
background         0x292a37

# Color palette (16)
## Black, Gray, Silver, White
color0  0x292a37
color8  0x45475d
color7  0xc0cbe3
color15 0xffffff

## Red
color1  0xec6a88
color9  0xec6a88

## Green
color2  0x3fdaa4
color10 0x3fdaa4

## Yellow
color3  0xe1c697
color11 0xe1c697

## Blue
color4  0x3fc6de
color12 0x3fc6de

## Purple
color5  0xbe95ff
color13 0xbe95ff

## Teal
color6  0xff7eb6
color14 0xff7eb6

## Extra colors
color16 0xefb993
color17 0x8b8da9
color18 0x343545
color19 0x3c3e51
color20 0x50526b
color21 0xd9e0ee
