# Base16 Twilight - k3rmit color config
# Author: David Hart (https://github.com/hartbit)

# Foreground color
foreground         0xa7a7a7
foreground_bold    0xc3c3c3

# Cursor color
cursor             0xc3c3c3
cursor_foreground  0x1e1e1e

# Background color
background         0x1e1e1e

# Color palette (16)
## Black, Gray, Silver, White
color0  0x1e1e1e
color8  0x5f5a60
color7  0xa7a7a7
color15 0xffffff

## Red
color1  0xcf6a4c
color9  0xcf6a4c

## Green
color2  0x8f9d6a
color10 0x8f9d6a

## Yellow
color3  0xf9ee98
color11 0xf9ee98

## Blue
color4  0x7587a6
color12 0x7587a6

## Purple
color5  0x9b859d
color13 0x9b859d

## Teal
color6  0xafc4db
color14 0xafc4db

## Extra colors
color16 0xcda869
color17 0x9b703f
color18 0x323537
color19 0x464b50
color20 0x838184
color21 0xc3c3c3
