# Base16 Dark Violet - kermit color config
# Author: ruler501 (https://github.com/ruler501/base16-darkviolet)

# Foreground color
foreground         0xb08ae6
foreground_bold    0x9045e6

# Cursor color
cursor             0x9045e6
cursor_foreground  0x000000

# Background color
background         0x000000

# Color palette (16)
## Black, Gray, Silver, White
color0  0x000000
color8  0x593380
color7  0xb08ae6
color15 0xa366ff

## Red
color1  0xa82ee6
color9  0xa82ee6

## Green
color2  0x4595e6
color10 0x4595e6

## Yellow
color3  0xf29df2
color11 0xf29df2

## Blue
color4  0x4136d9
color12 0x4136d9

## Purple
color5  0x7e5ce6
color13 0x7e5ce6

## Teal
color6  0x40dfff
color14 0x40dfff

## Extra colors
color16 0xbb66cc
color17 0xa886bf
color18 0x231a40
color19 0x432d59
color20 0x00ff00
color21 0x9045e6
