# Base16 Material Vivid
# Author: joshyrobot

# Foreground color
foreground         0xB0BEC5
foreground_bold    0xCFD8DC

# Cursor color
cursor             0xCFD8DC
cursor_foreground  0x263238

# Background color
background         0x263238

# Color palette (16)
## Black, Gray, Silver, White
color0  0x263238
color8  0x546E7A
color7  0xB0BEC5
color15 0xECEFF1

## Red
color1  0xFF1744
color9  0xFF1744

## Green
color2  0x00E676
color10 0x00E676

## Yellow
color3  0xFFC400
color11 0xFFC400

## Blue
color4  0x2979FF
color12 0x2979FF

## Purple
color5  0x651FFF
color13 0x651FFF

## Teal
color6  0x00B0FF
color14 0x00B0FF

## Extra colors
color16 0xFF9100
color17 0x8D6E63
color18 0x37474F
color19 0x455A64
color20 0x90A4AE
color21 0xCFD8DC
