# Base16 Sparky - kermit color config
# Author: Leila Sother (https://github.com/mixcoac)

# Foreground color
foreground         0xf4f5f0
foreground_bold    0xf5f5f1

# Cursor color
cursor             0xf5f5f1
cursor_foreground  0x072b31

# Background color
background         0x072b31

# Color palette (16)
## Black, Gray, Silver, White
color0  0x072b31
color8  0x003b49
color7  0xf4f5f0
color15 0xffffff

## Red
color1  0xff585d
color9  0xff585d

## Green
color2  0x78d64b
color10 0x78d64b

## Yellow
color3  0xfbdd40
color11 0xfbdd40

## Blue
color4  0x4698cb
color12 0x4698cb

## Purple
color5  0xd59ed7
color13 0xd59ed7

## Teal
color6  0x2dccd3
color14 0x2dccd3

## Extra colors
color16 0xff8f1c
color17 0x9b704d
color18 0x00313c
color19 0x003c46
color20 0x00778b
color21 0xf5f5f1
