# Base16 Atelier Savanna Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)

# Foreground color
foreground         0x526057
foreground_bold    0x232a25

# Cursor color
cursor             0x232a25
cursor_foreground  0xecf4ee

# Background color
background         0xecf4ee

# Color palette (16)
## Black, Gray, Silver, White
color0  0xecf4ee
color8  0x78877d
color7  0x526057
color15 0x171c19

## Red
color1  0xb16139
color9  0xb16139

## Green
color2  0x489963
color10 0x489963

## Yellow
color3  0xa07e3b
color11 0xa07e3b

## Blue
color4  0x478c90
color12 0x478c90

## Purple
color5  0x55859b
color13 0x55859b

## Teal
color6  0x1c9aa0
color14 0x1c9aa0

## Extra colors
color16 0x9f713c
color17 0x867469
color18 0xdfe7e2
color19 0x87928a
color20 0x5f6d64
color21 0x232a25
