# Base16 Icy Dark - k3rmit color config
# Author: icyphox (https://icyphox.ga)

# Foreground color
foreground         0x095b67
foreground_bold    0x0c7c8c

# Cursor color
cursor             0x0c7c8c
cursor_foreground  0x021012

# Background color
background         0x021012

# Color palette (16)
## Black, Gray, Silver, White
color0  0x021012
color8  0x052e34
color7  0x095b67
color15 0x109cb0

## Red
color1  0x16c1d9
color9  0x16c1d9

## Green
color2  0x4dd0e1
color10 0x4dd0e1

## Yellow
color3  0x80deea
color11 0x80deea

## Blue
color4  0x00bcd4
color12 0x00bcd4

## Purple
color5  0x00acc1
color13 0x00acc1

## Teal
color6  0x26c6da
color14 0x26c6da

## Extra colors
color16 0xb3ebf2
color17 0x0097a7
color18 0x031619
color19 0x041f23
color20 0x064048
color21 0x0c7c8c
