# Base16 Terracotta - kermit color config
# Author: Alexander Rossell Hayes (https://github.com/rossellhayes)

# Foreground color
foreground         0x473731
foreground_bold    0x352a25

# Cursor color
cursor             0x352a25
cursor_foreground  0xefeae8

# Background color
background         0xefeae8

# Color palette (16)
## Black, Gray, Silver, White
color0  0xefeae8
color8  0xc0aca4
color7  0x473731
color15 0x241c19

## Red
color1  0xa75045
color9  0xa75045

## Green
color2  0x7a894a
color10 0x7a894a

## Yellow
color3  0xce943e
color11 0xce943e

## Blue
color4  0x625574
color12 0x625574

## Purple
color5  0x8d5968
color13 0x8d5968

## Teal
color6  0x847f9e
color14 0x847f9e

## Extra colors
color16 0xbd6942
color17 0xb07158
color18 0xdfd6d1
color19 0xd0c1bb
color20 0x59453d
color21 0x352a25
