# Base16 Atelier Estuary
# Author: Bram de Haan (http://atelierbramdehaan.nl)

# Foreground color
foreground         0x929181
foreground_bold    0xe7e6df

# Cursor color
cursor             0xe7e6df
cursor_foreground  0x22221b

# Background color
background         0x22221b

# Color palette (16)
## Black, Gray, Silver, White
color0  0x22221b
color8  0x6c6b5a
color7  0x929181
color15 0xf4f3ec

## Red
color1  0xba6236
color9  0xba6236

## Green
color2  0x7d9726
color10 0x7d9726

## Yellow
color3  0xa5980d
color11 0xa5980d

## Blue
color4  0x36a166
color12 0x36a166

## Purple
color5  0x5f9182
color13 0x5f9182

## Teal
color6  0x5b9d48
color14 0x5b9d48

## Extra colors
color16 0xae7313
color17 0x9d6c7c
color18 0x302f27
color19 0x5f5e4e
color20 0x878573
color21 0xe7e6df
