# Base16 Brogrammer
# Author: Vik Ramanujam (http://github.com/piggyslasher)

# Foreground color
foreground         0x4e5ab7
foreground_bold    0x1081d6

# Cursor color
cursor             0x1081d6
cursor_foreground  0x1f1f1f

# Background color
background         0x1f1f1f

# Color palette (16)
## Black, Gray, Silver, White
color0  0x1f1f1f
color8  0xecba0f
color7  0x4e5ab7
color15 0xd6dbe5

## Red
color1  0xd6dbe5
color9  0xd6dbe5

## Green
color2  0xf3bd09
color10 0xf3bd09

## Yellow
color3  0x1dd361
color11 0x1dd361

## Blue
color4  0x5350b9
color12 0x5350b9

## Purple
color5  0x0f7ddb
color13 0x0f7ddb

## Teal
color6  0x1081d6
color14 0x1081d6

## Extra colors
color16 0xde352e
color17 0xffffff
color18 0xf81118
color19 0x2dc55e
color20 0x2a84d2
color21 0x1081d6
