# Base16 Oxocarbon Light - kermit color config
# Author: shaunsingh/IBM

# Foreground color
foreground         0x393939
foreground_bold    0x525252

# Cursor color
cursor             0x525252
cursor_foreground  0xf2f4f8

# Background color
background         0xf2f4f8

# Color palette (16)
## Black, Gray, Silver, White
color0  0xf2f4f8
color8  0x161616
color7  0x393939
color15 0x08bdba

## Red
color1  0xff7eb6
color9  0xff7eb6

## Green
color2  0x0f62fe
color10 0x0f62fe

## Yellow
color3  0xff6f00
color11 0xff6f00

## Blue
color4  0x42be65
color12 0x42be65

## Purple
color5  0xbe95ff
color13 0xbe95ff

## Teal
color6  0x673ab7
color14 0x673ab7

## Extra colors
color16 0xee5396
color17 0x37474f
color18 0xdde1e6
color19 0x525252
color20 0x262626
color21 0x525252
