# Base16 XCode Dusk - kermit color config
# Author: Elsa Gonsiorowski (https://github.com/gonsie)

# Foreground color
foreground         0x939599
foreground_bold    0xa9aaae

# Cursor color
cursor             0xa9aaae
cursor_foreground  0x282b35

# Background color
background         0x282b35

# Color palette (16)
## Black, Gray, Silver, White
color0  0x282b35
color8  0x686a71
color7  0x939599
color15 0xbebfc2

## Red
color1  0xb21889
color9  0xb21889

## Green
color2  0xdf0002
color10 0xdf0002

## Yellow
color3  0x438288
color11 0x438288

## Blue
color4  0x790ead
color12 0x790ead

## Purple
color5  0xb21889
color13 0xb21889

## Teal
color6  0x00a0be
color14 0x00a0be

## Extra colors
color16 0x786dc5
color17 0xc77c48
color18 0x3d4048
color19 0x53555d
color20 0x7e8086
color21 0xa9aaae
