# Base16 Ayu Light - kermit color config
# Author: Khue Nguyen &lt;Z5483Y@gmail.com&gt;

# Foreground color
foreground         0x5c6773
foreground_bold    0x242936

# Cursor color
cursor             0x242936
cursor_foreground  0xfafafa

# Background color
background         0xfafafa

# Color palette (16)
## Black, Gray, Silver, White
color0  0xfafafa
color8  0xabb0b6
color7  0x5c6773
color15 0x1a1f29

## Red
color1  0xf07178
color9  0xf07178

## Green
color2  0x86b300
color10 0x86b300

## Yellow
color3  0xf2ae49
color11 0xf2ae49

## Blue
color4  0x36a3d9
color12 0x36a3d9

## Purple
color5  0xa37acc
color13 0xa37acc

## Teal
color6  0x4cbf99
color14 0x4cbf99

## Extra colors
color16 0xfa8d3e
color17 0xe6ba7e
color18 0xf3f4f5
color19 0xf8f9fa
color20 0x828c99
color21 0x242936
