# Base16 Nord
# Author: arcticicestudio

# Foreground color
foreground         0xE5E9F0
foreground_bold    0xECEFF4

# Cursor color
cursor             0xECEFF4
cursor_foreground  0x2E3440

# Background color
background         0x2e3440

# Color palette (16)
## Black, Gray, Silver, White
color0  0x2E3440
color8  0x4C566A
color7  0xE5E9F0
color15 0x8FBCBB

## Red
color1  0x88C0D0
color9  0x88C0D0

## Green
color2  0xBF616A
color10 0xBF616A

## Yellow
color3  0x5E81AC
color11 0x5E81AC

## Blue
color4  0xEBCB8B
color12 0xEBCB8B

## Purple
color5  0xA3BE8C
color13 0xA3BE8C

## Teal
color6  0xD08770
color14 0xD08770

## Extra colors
color16 0x81A1C1
color17 0xB48EAD
color18 0x3B4252
color19 0x434C5E
color20 0xD8DEE9
color21 0xECEFF4
