# Base16 Atelier Sulphurpool Light - k3rmit color config
# Author: Bram de Haan (http://atelierbramdehaan.nl)

# Foreground color
foreground         0x5e6687
foreground_bold    0x293256

# Cursor color
cursor             0x293256
cursor_foreground  0xf5f7ff

# Background color
background         0xf5f7ff

# Color palette (16)
## Black, Gray, Silver, White
color0  0xf5f7ff
color8  0x898ea4
color7  0x5e6687
color15 0x202746

## Red
color1  0xc94922
color9  0xc94922

## Green
color2  0xac9739
color10 0xac9739

## Yellow
color3  0xc08b30
color11 0xc08b30

## Blue
color4  0x3d8fd1
color12 0x3d8fd1

## Purple
color5  0x6679cc
color13 0x6679cc

## Teal
color6  0x22a2c9
color14 0x22a2c9

## Extra colors
color16 0xc76b29
color17 0x9c637a
color18 0xdfe2f1
color19 0x979db4
color20 0x6b7394
color21 0x293256
