# Base16 Bespin - k3rmit color config
# Author: Jan T. Sott

# Foreground color
foreground         0x8a8986
foreground_bold    0x9d9b97

# Cursor color
cursor             0x9d9b97
cursor_foreground  0x28211c

# Background color
background         0x28211c

# Color palette (16)
## Black, Gray, Silver, White
color0  0x28211c
color8  0x666666
color7  0x8a8986
color15 0xbaae9e

## Red
color1  0xcf6a4c
color9  0xcf6a4c

## Green
color2  0x54be0d
color10 0x54be0d

## Yellow
color3  0xf9ee98
color11 0xf9ee98

## Blue
color4  0x5ea6ea
color12 0x5ea6ea

## Purple
color5  0x9b859d
color13 0x9b859d

## Teal
color6  0xafc4db
color14 0xafc4db

## Extra colors
color16 0xcf7d34
color17 0x937121
color18 0x36312e
color19 0x5e5d5c
color20 0x797977
color21 0x9d9b97
