# Base16 Ashes - kermit color config
# Author: Jannik Siebert (https://github.com/janniks)

# Foreground color
foreground         0xc7ccd1
foreground_bold    0xdfe2e5

# Cursor color
cursor             0xdfe2e5
cursor_foreground  0x1c2023

# Background color
background         0x1c2023

# Color palette (16)
## Black, Gray, Silver, White
color0  0x1c2023
color8  0x747c84
color7  0xc7ccd1
color15 0xf3f4f5

## Red
color1  0xc7ae95
color9  0xc7ae95

## Green
color2  0x95c7ae
color10 0x95c7ae

## Yellow
color3  0xaec795
color11 0xaec795

## Blue
color4  0xae95c7
color12 0xae95c7

## Purple
color5  0xc795ae
color13 0xc795ae

## Teal
color6  0x95aec7
color14 0x95aec7

## Extra colors
color16 0xc7c795
color17 0xc79595
color18 0x393f45
color19 0x565e65
color20 0xadb3ba
color21 0xdfe2e5
