# Base16 Still Alive - kermit color config
# Author: Derrick McKee (derrick.mckee@gmail.com)

# Foreground color
foreground         0xd80000
foreground_bold    0x489000

# Cursor color
cursor             0x489000
cursor_foreground  0xf0f0f0

# Background color
background         0xf0f0f0

# Color palette (16)
## Black, Gray, Silver, White
color0  0xf0f0f0
color8  0xf01818
color7  0xd80000
color15 0x30a860

## Red
color1  0x487830
color9  0x487830

## Green
color2  0x5c5c6a
color10 0x5c5c6a

## Yellow
color3  0x426395
color11 0x426395

## Blue
color4  0x001878
color12 0x001878

## Purple
color5  0x900000
color13 0x900000

## Teal
color6  0x2c3c57
color14 0x2c3c57

## Extra colors
color16 0x183048
color17 0x140c0d
color18 0xf0d848
color19 0xfff018
color20 0xf00000
color21 0x489000
