# Base16 Windows High Contrast - kermit color config
# Author: Fergus Collins (https://github.com/C-Fergus)

# Foreground color
foreground         0xc0c0c0
foreground_bold    0xdedede

# Cursor color
cursor             0xdedede
cursor_foreground  0x000000

# Background color
background         0x000000

# Color palette (16)
## Black, Gray, Silver, White
color0  0x000000
color8  0x545454
color7  0xc0c0c0
color15 0xfcfcfc

## Red
color1  0xfc5454
color9  0xfc5454

## Green
color2  0x54fc54
color10 0x54fc54

## Yellow
color3  0xfcfc54
color11 0xfcfc54

## Blue
color4  0x5454fc
color12 0x5454fc

## Purple
color5  0xfc54fc
color13 0xfc54fc

## Teal
color6  0x54fcfc
color14 0x54fcfc

## Extra colors
color16 0x808000
color17 0x008000
color18 0x1c1c1c
color19 0x383838
color20 0xa2a2a2
color21 0xdedede
