# Base16 Tomorrow Night - kermit color config
# Author: Chris Kempson (http://chriskempson.com)

# Foreground color
foreground         0xc5c8c6
foreground_bold    0xe0e0e0

# Cursor color
cursor             0xe0e0e0
cursor_foreground  0x1d1f21

# Background color
background         0x1d1f21

# Color palette (16)
## Black, Gray, Silver, White
color0  0x1d1f21
color8  0x969896
color7  0xc5c8c6
color15 0xffffff

## Red
color1  0xcc6666
color9  0xcc6666

## Green
color2  0xb5bd68
color10 0xb5bd68

## Yellow
color3  0xf0c674
color11 0xf0c674

## Blue
color4  0x81a2be
color12 0x81a2be

## Purple
color5  0xb294bb
color13 0xb294bb

## Teal
color6  0x8abeb7
color14 0x8abeb7

## Extra colors
color16 0xde935f
color17 0xa3685a
color18 0x282a2e
color19 0x373b41
color20 0xb4b7b4
color21 0xe0e0e0
