# Base16 Oxocarbon Dark - kermit color config
# Author: shaunsingh/IBM

# Foreground color
foreground         0xf2f4f8
foreground_bold    0xffffff

# Cursor color
cursor             0xffffff
cursor_foreground  0x161616

# Background color
background         0x161616

# Color palette (16)
## Black, Gray, Silver, White
color0  0x161616
color8  0x525252
color7  0xf2f4f8
color15 0x08bdba

## Red
color1  0x3ddbd9
color9  0x3ddbd9

## Green
color2  0x33b1ff
color10 0x33b1ff

## Yellow
color3  0xee5396
color11 0xee5396

## Blue
color4  0x42be65
color12 0x42be65

## Purple
color5  0xbe95ff
color13 0xbe95ff

## Teal
color6  0xff7eb6
color14 0xff7eb6

## Extra colors
color16 0x78a9ff
color17 0x82cfff
color18 0x262626
color19 0x393939
color20 0xdde1e6
color21 0xffffff
