# Base16 selenized-black - kermit color config
# Author: Jan Warchol (https://github.com/jan-warchol/selenized) / adapted to base16 by ali

# Foreground color
foreground         0xb9b9b9
foreground_bold    0xdedede

# Cursor color
cursor             0xdedede
cursor_foreground  0x181818

# Background color
background         0x181818

# Color palette (16)
## Black, Gray, Silver, White
color0  0x181818
color8  0x777777
color7  0xb9b9b9
color15 0xdedede

## Red
color1  0xed4a46
color9  0xed4a46

## Green
color2  0x70b433
color10 0x70b433

## Yellow
color3  0xdbb32d
color11 0xdbb32d

## Blue
color4  0x368aeb
color12 0x368aeb

## Purple
color5  0xa580e2
color13 0xa580e2

## Teal
color6  0x3fc5b7
color14 0x3fc5b7

## Extra colors
color16 0xe67f43
color17 0xeb6eb7
color18 0x252525
color19 0x3b3b3b
color20 0x777777
color21 0xdedede
