# Base16 Chalk - k3rmit color config
# Author: Chris Kempson (http://chriskempson.com)

# Foreground color
foreground         0xd0d0d0
foreground_bold    0xe0e0e0

# Cursor color
cursor             0xe0e0e0
cursor_foreground  0x151515

# Background color
background         0x151515

# Color palette (16)
## Black, Gray, Silver, White
color0  0x151515
color8  0x505050
color7  0xd0d0d0
color15 0xf5f5f5

## Red
color1  0xfb9fb1
color9  0xfb9fb1

## Green
color2  0xacc267
color10 0xacc267

## Yellow
color3  0xddb26f
color11 0xddb26f

## Blue
color4  0x6fc2ef
color12 0x6fc2ef

## Purple
color5  0xe1a3ee
color13 0xe1a3ee

## Teal
color6  0x12cfc0
color14 0x12cfc0

## Extra colors
color16 0xeda987
color17 0xdeaf8f
color18 0x202020
color19 0x303030
color20 0xb0b0b0
color21 0xe0e0e0
