# Base16 {{scheme-name}} - k3rmit color config
# Author: {{scheme-author}}

# Foreground color
foreground         0x{{base05-hex}}
foreground_bold    0x{{base06-hex}}

# Cursor color
cursor             0x{{base06-hex}}
cursor_foreground  0x{{base00-hex}}

# Background color
background         0x{{base00-hex}}

# Color palette (16)
## Black, Gray, Silver, White
color0  0x{{base00-hex}}
color8  0x{{base03-hex}}
color7  0x{{base05-hex}}
color15 0x{{base07-hex}}

## Red
color1  0x{{base08-hex}}
color9  0x{{base08-hex}}

## Green
color2  0x{{base0B-hex}}
color10 0x{{base0B-hex}}

## Yellow
color3  0x{{base0A-hex}}
color11 0x{{base0A-hex}}

## Blue
color4  0x{{base0D-hex}}
color12 0x{{base0D-hex}}

## Purple
color5  0x{{base0E-hex}}
color13 0x{{base0E-hex}}

## Teal
color6  0x{{base0C-hex}}
color14 0x{{base0C-hex}}

## Extra colors
color16 0x{{base09-hex}}
color17 0x{{base0F-hex}}
color18 0x{{base01-hex}}
color19 0x{{base02-hex}}
color20 0x{{base04-hex}}
color21 0x{{base06-hex}}
